.bs-callout.bs-callout-info.idb-help(id="accessibility")
  %br
  %hr
  %h2 Accessibility
  %hr
  .indent
    %p Research Data Service staff are committed to making the Illinois Data Bank service available to everyone. We are continuously improving the Illinois Data Bank for accessibility but understand that there may be areas and tasks that are not optimized for all access methods.
    %p
      Research Data Service staff are happy to assist with the data deposit or access process if you encounter technical or navigation trouble. Do not hesitate to
      %a(href="/contact" ) contact us
      by using our help form, emailing
      =succeed "," do
        %a(href="mailto:databank@library.illinois.edu" ) databank@library.illinois.edu
      or by calling 217-244-1331.