.bs-callout.bs-callout-info.idb-help(id="curation_procedures")
  %br
  %hr
  %h2
    Curation Procedures
  %hr
  %p Curious about what happens to your data after you deposit it? Research Data Service staff monitor deposits and
  perform several levels of curation checks. The depth of the dataset review will depend on the size of the dataset
  deposited, how well documented it is, and general staff availability. These reviews are not peer review and do not
  judge the core scientific analysis, methodologies, or conclusions behind the data. Instead, the purpose of review is
  to ensure metadata completeness and dataset discoverability.
  %p The curator reviews the metadata provided and basic file information, which may include the following activities:
  %ul
    %li
      Metadata formatting and light copyediting
    %li
      Adding metadata links between related resources, such as the paper a dataset supports
    %li
      Identification of areas in need of major additions or changes within the metadata and/or files
  %p
    In addition to review for metadata completeness and dataset discoverability, as can be detected, staff may also note:
    %ul
      %li
        Deposits that appear spurious
      %li
        Metadata or data files that appear to potentially include erroneous or sensitive content
        = precede "(" do
          %a(href="/policies#withdrawal_guildelines" ) The Illinois Data Bank Withdrawal Guidelines
        has more information on how curators handle datasets with errors or sensitive data.)
  %p
    Depositors and authors can expect:
    %ul
      %li
        An automated email confirming the deposit with some basic information, including the DOI for the dataset.
      %li
        When necessary, a personal email from Research Data Service staff, for example:
      %ul
        %li to report any minor metadata changes that were made such as keyword additions or small spelling corrections
        %li to suggest major metadata and/or data file(s) changes
        %li to explain concerns related to the dataset
      %li
        Automated reminders about any upcoming publication delays being released.
%p
  Research Data Service staff are actively working on tools and guidance to assist researchers with documentation and data cleaning. These features will be implemented with the Illinois Data Bank as they become available. In the meantime,
  %a(href="/contact") contact us
  to request a consultation.