.bs-callout.bs-callout-info.idb-help(id="dataset_documentation")
  %br
  %hr
  %h2
    Dataset Documentation
  %hr
  .indent
    %p We encourage dataset authors to develop documentation that will make it possible for you and others to understand and interpret your dataset in the future.   Through the process of depositing in the Illinois Data Bank, you will provide high-level documentation for your dataset, like its title, who created it, etc. It is likely that there are many additional details about your dataset that cannot easily be included as a part of this basic description. To provide customized, detailed information about your dataset, we recommend that you include a documentation file as a part of your dataset deposit.
    %p  For more information about how to develop documentation files, please check out these excellent resources:
    %h3 Readme files
    %p
      %em Simple text file that accounts for all files and folders in a dataset
    %p.indent
      Cornell University. 'Guide to writing 'readme' style metadata.'
      %a(href="https://data.research.cornell.edu/content/readme") http://data.research.cornell.edu/content/readme
    %h3 Codebooks
    %p
      %em Contains study-level information and descriptions of each variable/data item
    %p.indent
      Agency for Healthcare Research and Quality. 'What is a codebook?'
      %a(href="https://www.icpsr.umich.edu/icpsrweb/content/shared/ICPSR/faqs/what-is-a-codebook.html") https://www.icpsr.umich.edu/icpsrweb/content/shared/ICPSR/faqs/what-is-a-codebook.html
    %h3 Data Dictionaries
    %p
      %em Provides a detailed description for each element or variable in your dataset and data model.
    %p.indent
      University of Wisconsin Data Services. 'Data Management: Data Dictionaries.'
      %a(href="https://www.youtube.com/watch?v=Fe3i9qyqPjo") https://www.youtube.com/watch?v=Fe3i9qyqPjo
      (video)