.bs-callout.bs-callout-info.idb-help(id="developers")
  %br
  %hr
  %h1 For Developers
  %hr
  .indent
    %p
      Databank is the Ruby on Rails web application component of Illinois Data Bank. Within the repository system at the University Library at Illinois, the web application integrates with the
      =succeed "," do
        %a(href="https://doi.org/10.1145/2467696.2467725" target="_blank" ) Medusa digital preservation repository
      also developed at the Univeristy Library at Illinois. Medusa provides long-term retention and accessibility of its digital collection. In development of Medusa, the Library’s goal was to closely integrate the Library’s digital production, preservation, and access services in order to establish an efficient, sensible, and sustainable digital library program. Externally, Illinois Data Bank integrates with the DataCite Metadata Store through DataCite’s EZ API.
    %p
      When a depositor confirms an intention to publish, the web application requests a
      =succeed "," do
        %a(href="#doi" )DOI
      Within a pre-registered prefix, the DataCite EZ API supports generation of a random DOI or a specified DOI. Illinois Data Bank specifies a DOI that is largely opaque, but encodes version information. After DataCite returns a DOI, Databank sends a message to Medusa to initiate ingestion into the digital preservation system. Building on an approach Medusa uses for other functionality, the messages are sent using Advanced Message Queuing Protocol, specifically using a RabbitMQ server. Messaging supports effective integration, while allowing independent development. Custom selection of files for zipping and downloading files in published datasets, which are stored in Medusa, is supported with a distinct web service called Medusa Downloader.
    %p
      For more information on development of the Illinois Data Bank, please see our
      =succeed "," do
        %a(href="http://journal.code4lib.org/articles/11980" target="_blank" ) Code4Lib paper
      view our most recent code in
      =succeed "," do
        %a(href="https://github.com/medusa-project/databank" target="_blank" ) GitHub
      or
      =succeed "." do
        %a(href="/help#contact" ) contact us
