.bs-callout.bs-callout-info.idb-help(id="doi")
  %br
  %hr
  %h2
    What is a DOI?
  %hr
    .indent
      %p
        A
        = succeed "," do
          A
          %a(href="https://emails.illinois.edu/newsletter/163601.html")DOI
        or digital object identifier, is a unique ID assigned to digital resources on the web and used to identify digital resources on the Web over long periods of time.  DOIs also promote resource discovery through the publication of descriptive information about the associated online resources.

      %p
        %strong
          Access:
        DOIs have associated redirect links, usually a page pointing to where the resource can be accessed.  Any changes to where the resource is located on the web can be sent to the DOI resolution database and the DOI will automatically begin forwarding to that new page.  This means that you are free to use this DOI link within static publications without fear that a resource migration or other URL change may break the link.

      %p
        %strong
          Discovery:
        DataCite, the resolution service that the Illinois Data Bank uses for minting DOIs, also accepts descriptive information about the registered data objects.
        %strong
          %em
            This metadata is indexed by several search engines and promotes the discovery of the resources for future users.

      %p
        Publishing your dataset within the Illinois Data Bank grants you a DOI for your dataset so you can benefit from a stable URL, increased visibility, and more formalized citation practices. Research Data Service staff members review and edit your descriptive metadata to ensure accuracy and maximize visibility.  Curators also add formal links between associated publications so that aggregation and altmetrics services can recognize and include datasets within their reports.

      %p
        Questions or concerns about how DOIs work?
        = succeed '.' do
          %a(href="/contact") Contact us