.bs-callout.bs-callout-info.idb-help(id="embargo")
  %br
  %hr
  %h2 Delaying Publication (Embargoing)
  %hr
  .indent
    %p The primary purpose of the Illinois Data Bank is to provide University of Illinois researchers a space to make their research data openly available immediately to anyone in the world. We do recognize that there are sometimes cases where, due to publisher or other requirements, researchers may need to deposit their dataset but make it temporarily unavailable for download. To meet this need, we provide the following two options for temporarily delaying publication of datasets in the Illinois Data Bank:
    =render partial: "help/embargo_infographic"
    .idb-callout.idb-callout-lg
      The
      %strong maximum
      amount of time that data can be delayed for publication is
      =succeed "." do
        %strong 1 year
    %p
      Not sure if you should delay publication of your data, what your release date should be, or have any other questions?
      %a(href="/contact") Contact us
      and we will advise you on publication delay based on your specific needs.
