.table-responsive
  %table(id="embargo_info_table" class="table table-bordered" )
    %thead
      %tr(class="row idb-infographic-header" )
        %th(class="col-md-6")
          %h4 File Only Publication Delay
        %th(class="col-md-6")
          %h4 Metadata and File Publication Delay
    %tbody
      %tr(class="row" )
        %td
          %h4
            %strong You receive an active DOI.
          .indent You will receive a DOI, and the link will forward to the Illinois Data Bank page for your dataset.
        %td
          %h4
            %strong Your DOI is saved, but the link will fail.
          .indent You will receive a DOI link to place in your publication, but the link will fail until the release date you selected.
      %tr(class="row" )
        %td
          %h4
            %strong Your dataset record is discoverable.
          .indent Information for your dataset in the Illinois Data Bank will be publicly visible through several search engines and other sources.
        %td
          %h4
            %strong Your dataset record is not discoverable.
          .indent Your dataset will be stored in the Illinois Data Bank, but is not discoverable or visible until the release date you selected.
      %tr(class="row" )
        %td
          %h4
            %strong Dataset files cannot be accessed or seen.
          .indent Although the record for your dataset is publicly visible, your data files will not be made available until the release date you selected.
        %td
          %h4
            %strong Dataset files cannot be accessed or seen.
          .indent The record for your dataset is not visible, nor are your data files available until the release date you selected.