.bs-callout.bs-callout-info.idb-help(id="globus")
  %br
  %hr
  %h1 Using Globus
  %hr
  .indent
    %p
      %a(href="https://www.globus.org/what-we-do") Globus
      is a nonprofit platform created by the University of Chicago and Argonne National Laboratory that enables the transfer of digital files between established endpoints, one of which can be your work or personal computer.
      Globus also offers additional services related to sharing data with other researchers or parties directly.
    %p
      The datasets in Illinois Data Bank's repository hold files of varying sizes.
      While files can be downloaded directly from datasets through a browser, Globus can offer a faster alternative that can be especially noticable on datasets larger than a few Gigabytes.
    %p
      To set up your systems to use Globus to transfer files to your computer, refer to the
      %a(href="https://docs.globus.org/how-to/get-started/") getting started guide from Globus
      for detailed guidance on setting up and account and installing Globus Connect Personal.
    %p Once you configure and select an endpoint to send the files to (on your personal computer or other system) you can click on the "Open in Globus File Manager" button on a dataset download page.

