%table(id="grouping_info_table" class="table table-bordered" )
  %thead
    %tr(class="row idb-infographic-header" )
      %th(class="col-md-4")
        %small Example 1: Temporal organization by seasons and years
      %th(class="col-md-4")
        %small Example 2: Publication supporting organization by figures, tables
      %th(class="col-md-4")
        %small Example 3: Topical organization by species name and treatment types
  %tbody
    %tr(class="row" )
      %td
        =image_tag 'temporal_grouping.png', class: "img-responsive"
      %td
        =image_tag 'publication_supporting.png', class: "img-responsive"
      %td
        =image_tag 'biological_dataset.png', class: "img-responsive"

