.bs-callout.bs-callout-info.idb-help(id="license")
  %br
  %hr
  %h2 Research Data Copyright and Licensing
  %hr

  %p(class="metadata-note")
    This section provides basic information about intellectual property rights and how they apply to sharing research data. The material in this section is for informational purposes only and not for the purpose of providing legal advice.
  =render partial: "license_infographic"
  =render partial: "license_has_superscript_links", layout: false