.bs-callout.bs-callout-info.idb-help(id="metrics")
  %br
  %hr
  %h2 Metrics
  %hr
  %ul
    %li
      %h3 Download metrics
      %p
        The Illinois Data Bank tracks download counts for datasets. To mitigate possible over- or under-estimation of download counts, a dataset's download counter will increment up by one when one or more any associated files are downloaded or viewed. However, only one download instance will be counted per IP address per calendar day. This means that a single computer downloading a dataset's files multiple times in the same day will only be counted once. IP addresses of downloaders are only used for this purpose and are deleted regularly in compliance with our
        = succeed "." do
          %a(href="https://www.vpaa.uillinois.edu/policies/web_privacy.cfm") privacy policy

    %li
      %h3 Other metrics
      %p
        Research Data Service team members also collect data on DOI access, individual file downloads, and other citation information about deposits held within the Illinois Data Bank. This information is gathered from a variety of sources on a manual basis and stored outside of the Illinois Data Bank. Depositors are welcome to send in feedback to ask for updated metrics data for their deposits, but please allow several working days for us to collect the information. Some citation information will also be added into dataset metadata areas. Depositors can expect to receive updates about notable citations or changes in access traffic.
