.bs-callout.bs-callout-info.idb-help(id="metadata")
  %br
  %hr
  %h2 Illinois Data Bank Metadata
  %hr
    %ul
      %li
        %p
          Full documentation, including current and previous versions, about the metadata that the Illinois Data Bank stores and transmits can be found here:
          =succeed('.') do
            %a(href="https://www.ideals.illinois.edu/handle/2142/91019" ) https://www.ideals.illinois.edu/handle/2142/91019
        %p
          Metadata describing the datasets housed within the Illinois Data Bank are published in a variety of ways. Individual metadata records may be directly accessed via our internal API. Appending “.json” to a record’s internal URL will provide the Illinois Data Bank’s original metadata. Using “.xml” will provide the version transmitted to DataCite. An index of all available dataset records can be found at https://databank.illinois.edu/datasets.json. External entities are welcome to harvest our metadata records using at least a 2 second access delay.
          =surround('The DataCite API (',  ') can also serve individual records for the Illinois Data Bank when provided with our prefix: 10.13012.') do
            %a(href="https://mds.datacite.org/static/apidoc" ) https://mds.datacite.org/static/apidoc
