%section(id="start_group"  class="group" )
  .bs-callout.bs-callout-info.idb-help(id="start")
    %br
    %hr
    %h1
      Getting Started Guide
    %hr
    %p
      Welcome to the Illinois Data Bank!  This guide will cover the essential steps for publishing your data.  You can
      %a(href="/help#contact") contact us
      at any time to get additional help.
    .subgroup(id="login")
      %h2 Log in with NetID
      %p
        The first step to depositing data within the Illinois Data Bank is logging in with your Illinois NetID and Active Directory password. The Illinois Data Bank will check your NetID and confirm that you belong to a group eligible for self-deposit. Illinois faculty, graduate students, and most staff are eligible for self-deposit, but others (including undergraduates) will see a restriction notice after logging in.
        %a(href="/help#contact" ) Contact the Research Data Service staff
        if you run into trouble or need to request authorization for self-deposit.
    .subgroup(id="describe")
      %h2 Describe
      %p
        The information you provide here will be attached to your dataset as metadata associated with your
        =succeed "." do
          %a(href="help#doi")DOI
        Providing detailed descriptive information is important because it will be transmitted to search engines such as Google Scholar and other aggregators that look at data.  In short, the better you can describe your data the easier it will be for others to find and make use of it!
      %p In a hurry to deposit?  You can always edit and expand your metadata after publication.  Research Data Service staff also regularly review the metadata and add information to increase the visibility of your dataset.
      %p
        %em There are three sections to add information about your dataset:
      %ol
        %li
          %p Description
        %li
          %p Funder
        %li
          %p Related Materials
      %p
        The description area allows you to indicate the authorship information, title, basic information about the contents of your dataset, and an optional release date.  The funder information section allows you to provide grant or other information about financial support of your dataset.  The related materials area is where you can provide information about scholarly works that use or have contributed to your dataset.  Research Data Service staff review this section and create links between these works and your dataset record.  This allows publishers and
        %a(href="http://altmetrics.org/tools/" target="_blank" ) altmetrics tools
        to make connections to your published data.
    .subgroup(id="upload")
      %h2 Upload
      %p This is when you provide us with a copy of the files you'd like to be published and saved within the Illinois Data Bank.  You may either upload directly from your computer or import files you already have stored inside of Box.  Importing files from Box is recommended for larger files.  Depending on your file size, there are several options for uploading your individual data files:
      %ul
        %li
          %p Up to 15GB: Use the standard file selection tool, drag-and-drop upload options, or Box import
        %li
          %p
            Over 15 GB:
            Use the command line option with token or
            %a(href="/help#contact")Contact the RDS for assistance
      %p
        Unlike the metadata, you will not be allowed to edit or change your data files after publication without curator assistance.  We are happy to accommodate updates and changes when necessary, but you will need to
        %a(href="/help#contact") contact us
        if you need to make a change.

      %p Need a bit more time to prepare your data files?  No worries.  You may save and exit your draft at any time.  Let us know if we can help you get your data prepared and documented.

      %p
        %em Things you are required to do before publishing:
      %ul
        %li
          %p
            Make sure you have permission from the creator of the dataset to deposit it if you are depositing on behalf of someone else.
        %li
          %p
            Remove any sensitive data from each file to be deposited.

      %p
        %em Good data behaviors:
      %ul
        %li
          %p
            Include a readme file, data dictionary, and/or codebook as appropriate.
        %li
          %p
            Include versions in open formats for long-term preservation.

      %p
        Unsure how to handle any of these requirements and suggestions?
        %a(href="/help#contact") Contact us
        and a Research Data Service staff member will help guide you through it.

      %p

        Research Data Service staff regularly review the contents of dataset deposits. You can read more about what to expect as a depositor in our
        %a(href="/help#curation_procedures") Curation Procedures help section.
    .subgroup(id="review")
      %h2 Review
      %p
        This phase of publication gives you a chance to look over all the information you've provided and confirm that
        everything is ready go to.  You have the option of saving your work and exiting from the publication process if
        you need more time to gather information from a colleague, Research Data Service staff, or other sources.

      %p
        In addition, you will have the option to choose when you would like curators to review your dataset:
      %ul
        %li
          %p
            %strong Review and then publish
            (recommended) option: lets curators preview your submission before it goes live on the Illinois Data Bank
            to eliminate errors before publication. With this option, you receive a reserved DOI that works after the
            review (2-5 business days).
        %li
          %p
            %strong Publish then review
            option: you receive a working DOI today. However, because curation occurs after publication, any errors
            that are found will result in having to republish the dataset, which will require a new DOI.
