.bs-callout.bs-callout-info.idb-help(id="supplemental")
  %br
  %hr
  %h2 Journal Supplemental Materials
  %hr
  %p Some publishers offer the option of contributing data as "supplemental materials" in the form of a pdf.
  %p The Illinois Data Bank can provide a more flexible alternative, as detailed below:

  .table-responsive
    %table(id="supplemental_materials_table" class="table table-bordered" )
      %thead
        %tr(class="row idb-infographic-header" )
          %th(class="col-md-4")
            %h2 Criteria
          %th(class="col-md-4" )
            %h2 Supplemental Material
          %th(class="col-md-4")
            %h2 Illinois Data Bank

      %tbody
        %tr(class="row" )
          %td Size limitations on files
          %td Often lower than 100 MB
          %td 2 Terabytes
        %tr(class="row" )
          %td Format limitations on files
          %td Restrictions and requirements are possible. Often PDF only.
          %td Any format is accepted
        %tr(class="row" )
          %td Digital Object Identifier (DOI)
          %td Unlikely to be available
          %td Automatically provided
        %tr(class="row" )
          %td Metadata available, exportable, and searchable
          %td Unlikely to be available
          %td Automatically provided
        %tr(class="row" )
          %td Access restriction / findability
          %td Can be hidden by paywalls or publisher-chosen access controls.
          %td Data will be freely available (after release from any embargoes you choose to assign).
        %tr(class="row" )
          %td Download statistics
          %td Unlikely to be available
          %td Automatically provided
        %tr(class="row" )
          %td Storage infrastructure
          %td Stability and suitability for long term storage is usually not be guaranteed
          %td Stable preservation environment that complies with many funder and publisher requirements
        %tr(class="row" )
          %td Cost to publish
          %td Sometimes fee-based
          %td No cost for University of Illinois researchers
        %tr(class="row" )
          %td Guaranteed availability
          %td Unlikely to be guaranteed for multiple years or regularly reviewed
          %td Every dataset is guaranteed to be available for a minimum of 5 years, with longer storage likely. Regular review and curation will ensure continued availability and preservation best practices as time passes.
        %tr(class="row" )
          %td Connections to additional papers that uses the data and other materials
          %td Sometimes available
          %td We link your dataset to articles, code, theses, other data sources, etc.
        %tr(class="row" )
          %td Standard or custom licensing statements
          %td Unlikely to be available
          %td CC0 and CC BY are standard offerings; you can also upload a customized license statement.
