.row
  .col-md-3.col-md-offset-9(class="new-save-button")
    %button(type="button" class="btn btn-primary btn-block new-save" id="")
      Continue
      %span(class="glyphicon glyphicon-triangle-right" )
    %button(type="button" class="btn btn-danger btn-block" name="cancel" onclick='window.location = "/"' )
      %span(class="glyphicon glyphicon-remove" )
      Cancel
    %br
