Brief Record Partial Placeholder
=extractor_task.datafile
%p Datafile:
=link_to datafile.bytestream_name, "/datasets/#{@dataset.key}/datafiles/#{datafile.web_id}"
%p Extractor Task has response?
= extractor_task.response_at
=link_to 'Extractor Task', extractor_task
=link_to
