.panel-group(id="script")
  .panel.panel-default
    .panel-heading(id="scriptHeading")
      %h2.panel-title
        %a(role="button" data-toggle="collapse" data-parent="#script" href="#scriptPanel" aria-expanded="false" aria-controls="scriptPanel" class="accordion-toggle collapsed" )
          Create your own custom script using our API. (click to expand)
    .panel-collapse.collapse(id="scriptPanel" role="tabpanel" aria-labelledby="scriptHeading" )
      .panel-body
        %p
          %em Size constraints depend on implementation details.
        %p
          See the
          =succeed(",") do
            %a(href="/guides#api" ) Command Line Tools / API Reference
          or
          =succeed(".") do
            %a(href="/contact") Contact Us