.panel-group(id="script" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="scriptHeading")
      %h4(class="panel-title")
        %a(role="button" data-toggle="collapse" data-parent="#script" href="#scriptPanel" aria-expanded="false" aria-controls="scriptPanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) Create your own custom script using our API. (click to expand)
    .panel-collapse.collapse(id="scriptPanel" role="tabpanel" aria-labelledby="scriptHeading" )
      .panel-body
        %p
          %em Size constraints depend on implementation details.
        %p
          See the
          =succeed(",") do
            %a(href="/guides#api" ) Command Line Tools / API Reference
          or
          =succeed(".") do
            %a(href="/contact") Contact Us