<!-- Modal -->
<div class="modal fade" id="deposit" tabindex="-1" role="dialog" aria-labelledby="agreement-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          &times;
        </button>

        <div class="publish-msg">

          <p class="ds-paragraph"><%= Dataset.publish_modal_msg(@dataset).html_safe %></p>

        </div>
      </div>

      <div class="modal-footer container-fluid">

        <button onclick='update_and_publish()' , type="button" class="btn btn-primary" data-dismiss="modal" id="login-button">
          <span class="glyphicon glyphicon-send"></span> Publish
        </button>

        <button onclick='window.open("/help")' , type="button" class="btn btn-success" data-dismiss="modal" id="help-button">
          <span class="glyphicon glyphicon-question-sign"></span> Get Help
        </button>

        <button onclick='window.location = "/datasets/<%=@dataset.key%>"' , type="button" class="btn btn-danger" data-dismiss="modal" id="help-button">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div>
  </div>
</div>