<!-- Modal -->
<div class="modal fade" id="deposit" tabindex="0" role="dialog" aria-labelledby="agreement-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>

        <div class="publish-msg">

          <p class="ds-paragraph"><%= Dataset.publish_modal_msg(dataset: @dataset).html_safe %></p>

        </div>
      </div>

      <div class="modal-footer container-fluid">

        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmPublishBtn">
          <span class="glyphicon glyphicon-send"></span> Publish
        </button>

        <button type="button" class="btn btn-success" data-dismiss="modal" id="confirmHelpBtn">
          <span class="glyphicon glyphicon-question-sign"></span> Get Help
        </button>

        <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmCancelBtn" data-cancel-url="/datasets/<%=@dataset.key%>">
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
    </div>
  </div>
</div>