.modal.fade(id="downloadLinkModal")
  .modal-dialog
    .modal-content
      .modal-header
        %button(class="close" data-dismiss="modal")
          &times;
        %br
      .modal-body
        .text-center
          .download-link
        .download-help
