.alert-info
  Files associated with this dataset are being processed for availability via Globus.
  This is expected to complete within a few hours of publication.
  %a(href="/help?context=embargo&key=#{dataset.key}")
    Contact the Research Data Service
  with any questions.