.panel-group(id="grouping" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="groupingHeading")
      %a( role="button" data-toggle="collapse" data-parent="#grouping" href="#groupingPanel" aria-expanded="false" aria-controls="groupingPanel" class="accordion-toggle collapsed" )
        %h2.panel-title{style: "display: inline-block; margin-right: 10px;"} File Grouping
        %span( class="metadata-label" ) You will want to organize your dataset, especially if it has more than a few files. (click to expand)
    .panel-collapse.collapse(id="groupingPanel" role="tabpanel" aria-labelledby="groupingHeading" )
      .panel-body
        %p Uploading lots and lots of files in a single dataset can make it more difficult to curate, upload/download, understand, and reuse your data.
        %p
          See our
          =succeed "." do
            %a(href="/guides#group")
              guide on File Grouping
            for tips