.modal.fade(id="offer-org-auth-modal" role="dialog" aria-labelledby="offer-org-auth-title")
  .modal-dialog
    .modal-content
      .modal-header
        %h2#offer-org-auth-title Offer Organization Authorship
        %button(class="close" data-dismiss="modal")
          &times;
        %br
      .modal-body
        If the dataset you are depositing was created by a named group (e.g.: project, research team, organization) and you would like for that group to receive credit as an author, please contact us at
        =succeed "." do
          %a(href="mailto:researchdata@illinois.library.illinois.edu") researchdata@illinois.library.illinois.edu
