.alert.alert-alert
  Illinois Data Bank system is undergoing maintenance, and
  %strong datasets cannot currently be added or edited.
  -if Admin.instance.read_only_alert && Admin.instance.read_only_alert != ''
    %br
    =Admin.instance.read_only_alert
  %br
  Please
  %a(href="/help#contact" target="_blank")
    contact the Research Data Service Team
  with questions.
