- @title = "Restricted Access"

%h1.naked
  .text-center.large-text
    %strong Restricted Access
%p.text-center
  %em Log in required for restricted dataset access
%ul.list-unstyled
  - restricted_access_buttons.each do |button|
    %li.row
      .col-md-2.col-md-offset-5
        %p
          = link_to button[:path], class: button[:class], role: button[:role] do
            %span{ class: "glyphicon glyphicon-#{button[:icon]}" }
            = button[:text]
