%p Select one of the authors from the author list to be the long-term primary contact. This person generally carries ultimate responsibility for the validity of dataset and is most often a faculty member or Principal Investigator (“PI") of the project under which the dataset originated. If there is only one author, select that author.
%p You will need to provide an email address for every author. When the dataset is deposited, you and all authors will receive a confirmation email.
=image_tag('select_contact.png', class: 'img-responsive')