%title
  = "Illinois Data Bank - Version Acknowledgement"
%h1{"aria-label": "Illinois Data Bank version acknowledgement"}
%br/
%br/
.justify-content-center
  %h2 Thank you!
  %h2 Your new version request has been submitted!

  %p
    Once a curator has approved your request, you will be able to edit your new version draft, add and remove files,
    and submit your new version for pre-publication review. You should receive an email from a curator with a link to
    your draft within 1-2 business days.

  %p
    If you have any questions, please
    =succeed "." do
      %a{href: "#{IDB_CONFIG[:root_url_text]}/contact"}
        %span.glyphicon.glyphicon-envelope
        contact the Research Data Service team
