.panel-group(id="zipping" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(id="zippingHeading")
      %a( role="button" data-toggle="collapse" data-parent="#zipping" href="#zippingPanel" aria-expanded="false" aria-controls="zippingPanel" class="accordion-toggle collapsed" )
        %h2.panel-title Zipping or Tarring Files
        %span( class="metadata-label" ) You will need to zip or tar any folders or subdirectories before uploading them. (click to expand)
    .panel-collapse.collapse(id="zippingPanel" role="tabpanel" aria-labelledby="zippingHeading" )
      .panel-body
        %p The Data Bank lets you upload files but not entire folders.
        %p If your data is organized in folders, and you want to preserve that structure, you will need to zip or tar your files before uploading them.
        %p
          See our Data Nudge on
          =succeed "." do
            %a(href="https://go.illinois.edu/2018-08" )
              Common zipped file formats used in research
            for tips