%h1 Pre-Publication Review Request Received
.indent.line-above
  %p.idb-larger
    Thank You! Within 1-2 days, a curator will contact you to discuss any suggestions or
    concerns before your dataset is published.