%h1 Review Request Submitted
.indent.line-above
  %h2
    Thank You! Your Review Request Has Been Received. 
  %p.idb-larger
    Your dataset is now in draft stage. A curator will contact you with suggestions and/or concerns regarding your dataset within 1–2 days.
  %p.idb-larger
    %strong
      = link_to "Reserved DOI", "/guides#doi", target: "_blank"
    to include this DOI in your associated paper(s):
    = link_to @dataset.persistent_url
    \.
  %p.idb-larger
    %strong
      Citation:
    = @dataset.plain_text_citation
  %p.idb-larger
    A private sharing link allows you to share the draft dataset with journal reviewers and/or co-authors while the dataset is under review.
    You can obtain this link by going back to your dataset and clicking on the “Generate private sharing link” button.
  .row.button-row
    .col-md-3.col-md-offset-8
      = link_to 'Go back to Dataset', @dataset.databank_url, class: "btn btn-primary btn-block idb"