%h1 Review Request Submitted
.indent
  .idb-callout-lg
    Thank You! Your Review Request Has Been Received. 
  %p.idb-large
    Your dataset is now in draft stage. A curator will contact you with suggestions and/or concerns regarding your dataset within 1–2 days.
  %p.idb-large
    %strong
      = link_to "Reserved DOI", "/guides#doi", target: "_blank"
    to include this DOI in your associated paper(s):
    = link_to @dataset.persistent_url
    \.
  %p.idb-large
    %strong
      Citation:
    = @dataset.plain_text_citation
  %p.idb-large
    Generate a private sharing link allows you to share the draft dataset with journal reviewers and/or co-authors while the dataset is under review.
    You can obtain this link by go back to your dataset and click on “Generate private sharing link” button.
  .row.button-row
    .col-md-3.col-md-offset-8
      = link_to 'Go back to Dataset', @dataset.databank_url, class: "btn btn-primary btn-block idb"