.alert.alert-notice Copy in progress.  You will receive an email when the copy is complete.
= render 'brief_record', dataset:@dataset
%br/
=link_to "Back to Version Controls", :controller => :datasets, :action => :version_controls
