%h1 Pre-Deposit Considerations

-if Databank::Application.file_mode == Databank::FileMode::READ_ONLY
  .alert.alert-alert
    Illinois Data Bank system is undergoing maintenance, and
    %strong datasets cannot currently be added or edited.
    -if Admin.instance.read_only_alert && Admin.instance.read_only_alert != ''
      %br
      =Admin.instance.read_only_alert
    %br
    Please
    %a(href="/help#contact" target="_blank")
      contact the Research Data Service Team
    with questions.

.panel-group(id="license" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="licenseHeading")
      %h4(class="panel-title")
        %a( role="button" data-toggle="collapse" data-parent="#license" href="#licensePanel" aria-expanded="false" aria-controls="licensePanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) You will need to select a license for your dataset. (click to expand)
    .panel-collapse.collapse(id="licensePanel" role="tabpanel" aria-labelledby="licenseHeading" )
      .panel-body
        %p
          Datasets are complex objects, and understanding how copyright law applies to datasets is similarly complex.
          %br
          For more background on Research Data Copyright and Licensing, review our help section on the topic:
          %a(href="/help#license")
            Research Data Copyright and Licensing
          %br
          Your dataset license options in Illinois Data Bank are:
        =render partial: 'help/license_infographic'
        %p
          %a(href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" ) Find out more about CCO
          %br
          %a(href="https://creativecommons.org/licenses/by/4.0/" target="_blank" ) Find out more about CC BY
          %br
          %span(class="strong") If you choose to use a license.txt file, upload it with your other dataset files.

.panel-group(id="contact" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="contactHeading")
      %h4(class="panel-title")
        %a( role="button" data-toggle="collapse" data-parent="#contact" href="#contactPanel" aria-expanded="false" aria-controls="contactPanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) You will need to select a long-term primary contact for your dataset. (click to expand)
    .panel-collapse.collapse(id="contactPanel" role="tabpanel" aria-labelledby="contactHeading" )
      .panel-body
        =render partial: "select_contact_info"

.panel-group(id="embargo" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="embargoHeading")
      %h4(class="panel-title")
        %a( role="button" data-toggle="collapse" data-parent="#embargo" href="#embargoPanel" aria-expanded="false" aria-controls="embargoPanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) You will be offered the option to delay publication of your dataset. (click to expand)
    .panel-collapse.collapse(id="embargoPanel" role="tabpanel" aria-labelledby="embargoHeading" )
      .panel-body
        %p
          Due to publisher or other requirements, researchers may need to deposit their dataset but make it temporarily unavailable for download.
          %br
          For more guidance, review our help section on the topic:
          %a(href="/help#embargo") Delaying Publication of/embargoing your dataset
        %p
          By default, there is no publication delay.  Your other options are:
          =render partial: 'help/embargo_infographic'


.panel-group(id="expert" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="expertHeading")
      %h4(class="panel-title")
        %a( role="button" data-toggle="collapse" data-parent="#expert" href="#expertPanel" aria-expanded="false" aria-controls="expertPanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) The Research Data Service has data publishing experts and we're here to help! (click to expand)
    .panel-collapse.collapse(id="expertPanel" role="tabpanel" aria-labelledby="expertHeading" )
      .panel-body
        %p
          Guidance will continue to be available to you throughout this process.  To
          =succeed "," do
            %a(href="/help#contact") contact us
          or to review any of this information, open the
          %a(href="/help" )
            %span(class="glyphicon glyphicon-question-sign")
            Help
          menu at the top of each page.  For context-specific help, look for
          %a(href="#" )
            %span(class="glyphicon glyphicon-question-sign" tabindex="-1" )
            what's this?
          links near form elements.

%hr

-if Databank::Application.file_mode != Databank::FileMode::READ_ONLY
  .row
    .col-md-3.col-md-offset-9
      %button(type="button" class="btn btn-primary btn-block" onclick='window.location = "/datasets/new"' )
        Continue
        %span(class="glyphicon glyphicon-triangle-right" )
      %button(type="button" class="btn btn-danger btn-block" name="cancel" onclick='window.location = "/"' )
        %span(class="glyphicon glyphicon-remove" )
        Cancel
      %br
