-if(can? :edit, @dataset)
  = render 'brief_record', dataset:@dataset
  %hr
  %ul
    %li
      %p Anybody with this link can access to your private dataset so be careful who you share it with.
    %li
      %p This link can be used at the journal office during the review process or for sharing with collaborators to access the data files while the dataset is not public.
    %li
      %p This link will expire after 12 months since the date it is first generated or upon publication.
  %hr
  %p
    Private Sharing Link:
    .row
      .col-md-6
        .input-group.clipboard-control
          %input(type="text" id="sharing-link" class="form-control" value="#{@dataset.sharing_link}" )
          %span(class="input-group-btn" )
            %button(class='clipboard-btn btn btn-default' data-clipboard-action="copy" data-clipboard-target='#sharing-link')
              %span(class="glyphicon glyphicon-copy")
-else
  %p
    You are not authorized to access this resource.
    Log in or
    %a(href="/help#contact")
      contact the Research Data Service
    for assistance.