- if can? :manage, @dataset
  = render partial: 'landing'
- elsif can?(:view_version_acknowledgement, @dataset)
  = render partial: 'version_acknowledge'
- elsif @dataset.metadata_public? || (can? :read, @dataset) || @shared_by_link
  = render partial: 'landing'
- else
  = render partial: 'restricted'
