- if can? :manage, @dataset
  = render partial: 'landing'
- elsif can?(:view_version_acknowledgement, @dataset)
  = render partial: 'version_acknowledge'
- elsif @dataset.metadata_public? || (can? :read, @dataset) || @shared_by_link
  = render partial: 'landing'
- else
  .indent
    %h1
      Restricted Dataset
    .jumbotron
      %h2
        %a{"href" => "/login"}
          Log in
        required to view restricted dataset