.dialog.text-center
  %h2 The page you were looking for is temporarily unavailable due to a system error.
  %hr
  %p We are working to resolve this issue and expect to restore access soon.
  %p
    Please
    %a(href="/contact" target="_blank")
      contact the Research Data Service Team
    with questions.