%h1 Publication process tracking
%p
  =link_to "#{@dataset.plain_text_citation}", dataset_path(@dataset.key)
%ul.stage_bar
  -# The list items represent the stages of the publication process. The "active" class is applied to the current stage, and the "complete" class is applied to past stages.
  %li{ class: (@dataset.draft? ? "active" : (@dataset.past_draft? ? "complete" : nil)) }
    %h2 Draft
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel tellus tincidunt, sodales lacus at, blandit purus. Nam tristique libero sit amet feugiat posuere. Suspendisse dictum, dolor et ornare mattis, nisl purus pulvinar lacus, cursus placerat turpis tortor quis eros. Ut egestas ultricies augue. Donec faucibus, orci ut accumsan ultricies, magna enim pharetra risus, eu lobortis nisi justo sed tortor. Mauris tempor tempus tellus, vel fringilla diam consectetur eu. Mauris neque sem, semper quis placerat ac, auctor sit amet neque. Duis ultricies nulla vel ligula vestibulum dignissim. Nullam eget ligula varius, vulputate dui vel, fermentum purus. Curabitur iaculis, libero at eleifend ultricies, tellus tortor efficitur nulla, id dapibus leo lacus eget enim.
  %li{ class: ("active" if @dataset.curation_review?) }
    %h2 Curation Review
    %p Aenean non fermentum elit. Mauris ut lorem nulla. Fusce dictum cursus ligula. Pellentesque in justo fermentum, gravida enim ac, pretium libero. Curabitur vitae urna felis. Mauris non sapien eu tortor faucibus sagittis nec ac odio. Nulla a quam non lectus maximus pharetra non pretium sapien. Maecenas et hendrerit purus, et eleifend odio.
  %li{ class: ("active" if @dataset.depositor_revisions?) }
    %h2 Depositor Revisions
    %p Aliquam rutrum lacus id massa aliquet sollicitudin. In nec dictum orci. Vestibulum sit amet ligula scelerisque, luctus nibh sit amet, interdum massa. Nam aliquet risus leo, ac semper eros iaculis nec. Fusce sed dignissim sapien. Morbi luctus varius magna, et ullamcorper leo porta sed. Morbi sit amet eleifend nibh, nec consequat nisi. Donec scelerisque, orci accumsan mattis pharetra, nisl dolor rhoncus neque, non malesuada est ex id arcu.
  %li{ class: ("active" if @dataset.approved_by_curator?) }
    %h2 Approved by Curator for publication
    %p Aenean vitae viverra sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. In gravida convallis dui, quis fermentum justo porta ac. Aenean blandit ullamcorper lacinia. Vestibulum interdum dictum justo vitae consectetur. Nam vel aliquam enim. Fusce urna massa, convallis a sapien eu, molestie lacinia tellus. Maecenas scelerisque et nulla id semper. Etiam eget mollis dolor. Suspendisse est sapien, euismod non accumsan eu, feugiat quis urna. In mattis libero in ante mattis, ut ullamcorper urna maximus. Cras iaculis risus ut ipsum venenatis efficitur at vel orci.
  %li{ class: ("active" if @dataset.approved_by_depositor?) }
    %h2 Approved by Depositor for publication
    %p Nam sodales blandit libero in egestas. Fusce ullamcorper ipsum augue, id consequat justo eleifend ac. Suspendisse potenti. Suspendisse mattis id enim et rhoncus. In ultrices mauris ut dolor imperdiet, id vulputate sapien tincidunt. Praesent in lacus odio. Aliquam accumsan libero et ultrices gravida. Nulla porttitor lectus et libero condimentum sagittis. Morbi fermentum mattis leo efficitur mollis. Proin sed lectus erat. Ut sollicitudin finibus dui, quis aliquet ipsum aliquet quis. Donec lacinia massa at volutpat imperdiet. Sed non porta neque. Nam venenatis lorem arcu, non semper magna varius nec. Duis accumsan facilisis lacus sed euismod.
  %li{ class: ("active" if @dataset.published?) }
    %h2 Published
    %p Consectetur adipiscing elit. Donec vel tellus tincidunt, sodales lacus at, blandit purus. Nam tristique libero sit amet feugiat posuere. Suspendisse dictum, dolor et ornare mattis, nisl purus pulvinar lacus, cursus placerat turpis tortor quis eros. Ut egestas ultricies augue. Donec faucibus, orci ut accumsan ultricies, magna enim pharetra risus, eu lobortis nisi justo sed tortor. Mauris tempor tempus tellus, vel fringilla diam consectetur eu. Mauris neque sem, semper quis placerat ac, auctor sit amet neque. Duis ultricies nulla vel ligula vestibulum dignissim. Nullam eget ligula varius, vulputate dui vel, fermentum purus. Curabitur iaculis, libero at eleifend ultricies, tellus tortor efficitur nulla, id dapibus leo lacus eget enim.