Thank you for your interest in curating an Illinois dataset!
Follow the account activation link to log in to the Data Curation Network portal for the Illinois Data Bank with your email and password:

=@identity.activation_url

Thank you,
Research Data Service Team
="-----"
Research Data Service
University of Illinois at Urbana-Champaign
databank@library.illinois.edu
(217) 300-3513
