%p
  Thank you for your interest in curating an Illinois dataset!
%p
  Follow the account activation link to log in to the Data Curation Network portal for the Illinois Data Bank with your email and password:

=@identity.activation_url

%p
  Thank you,
%p
  Research Data Service Team
%hr
%p
  Research Data Service
  %br
  University of Illinois at Urbana-Champaign
  %br
  databank@library.illinois.edu
  %br
  (217) 300-3513
