Name: #{@dataset.depositor_name}
Email: #{@dataset.depositor_email}
Topic: New Version Request

The Research Data Service has received your request to publish a new version of your dataset:

= "#{@dataset.title}"

We’re working on your request and will get back to you within 1-2 business days.

Reply to this email if you have any questions or need immediate assistance.
