Hello,

Thank you for beginning a dataset deposit in the Illinois Data Bank on #{(@dataset.created_at).iso8601}. We are writing because 1 month has passed since you began this deposit. If you would like to complete or delete your deposit, you can do so here: #{edit_dataset_path(@dataset)}. We would be happy to answer any questions you may have about depositing your data. Please email us at databank@library.illinois.edu.

\#{render partial: 'sigblock_txt'}
