<footer class="library-footer hide-when-printing" role="contentinfo">
  <div class="row contact-area">
    <h2 class="sr-only">library website footer information</h2>
    <p>
      The Illinois Data Bank is a product of the
      <a href="https://www.library.illinois.edu/rds/">Research Data Service</a>
      at the University Library.
      See our
      <a href="/policies" target="_blank">Access and Use Policy</a>
    </p>
  <div class="row info-area">
    <%= image_tag("Illinois_primary_wordmark_reversed_orange_rgb.png", alt: "University of Illinois Library", height: 31.25, width: 188.85)  %>
  </div>