<footer>
  <ilw-footer slot='footer'>
    <span class="footer-info">
      The Illinois Data Bank is a product of the
      <a href='https://www.library.illinois.edu/rds/'>Research Data Service</a>
      at the University Library.
      See our
      <a href='/policies' target='_blank'>Access and Use Policy</a>
      and
      <a href='https://www.vpaa.uillinois.edu/resources/web_privacy'>Web Privacy Notice</a>.
      <a href='/contact' target='_blank'>Contact us</a>
      for questions and to provide feedback.
    </span>
    <nav slot="social" aria-label="Social media">
      <ul>
        <li><a href="https://www.facebook.com/uillinoislibrary">Facebook</a></li>
        <li><a href="https://www.instagram.com/uillinoislibrary/">Instagram</a></li>
        <li><a href="https://x.com/IllinoisLibrary" class="social-icon-link" style="background: none; color: white;"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a></li>
        <li><a href="https://www.tiktok.com/@uillinoislibrary">TikTok</a></li>
        <li><a href="https://www.reddit.com/user/UIllinoisLibrary" class="social-icon-link" style="background: none; color: white;"><i class="fa-brands fa-reddit-alien" style="" aria-hidden="true"></i><span class="sr-only">Reddit</span></a></li>
      </ul>
    </nav>
  </ilw-footer>
</footer
