%il-footer(width="page")
  %a{slot: "primary-unit", href: "https://wordpress.library.illinois.edu/researchdataservice"} Research Data Service
  %a{slot: "site-name", href: "/"} Illinois Data Bank
  %div{slot: "actions"}
    %a{href: "/policies"} Access and Use Policies
    %a{href: "https://www.vpaa.uillinois.edu/resources/web_privacy"} Web Privacy Notice
    %a{href: "/contact"} Contact Us

