<header>
  <%= image_tag('Illinois_blue_tab.png', alt: 'Illinois blue tab', class: 'illinois-blue-tab', height: 51, width: 44) %>
  <div class="home-link">
    <a href="<%= IDB_CONFIG[:root_url_text] %>" class="databank-home-link">
      Illinois Data Bank
    </a>
  </div>
  <%= render 'shared/header_menu' %>
</header>
