<ilw-footer slot="footer">
  <a slot="primary-unit" href="https://researchdataservice.illinois.edu/">Research Data Service</a>
  <a slot="site-name" href="/">Illinois Data Bank</a>
  <div slot = "actions">
    <a href="/policies">Access and Use Policies</a>
    <a href="https://www.vpaa.uillinois.edu/resources/web_privacy">Web Privacy Notice</a>
    <a href="/contact">Contact Us</a>
  </div>
</ilw-footer>
