 <div class="header-menu">
   <ul class="row">
    <li class ="col-12 col-md-3">
      <a href="/datasets/pre_deposit" id="deposit_link">
        Deposit Dataset
      </a>
    </li>
    <li class="col-12 col-md-3">
      <a href="/datasets">
        Find Data
      </a>  
    </li>
    <li class="col-12 col-md-3">
      <a href="/policies">
        Policies
      </a>
    </li>
    <li class="col-12 col-md-3">
      <a href="/guides">
        Guides
      </a>
    </li>
    <li class="col-12 col-md-3">
      <a href="/contact">
        Contact Us
      </a>
    </li>
  </ul>