.hide-when-printing
  / Static navbar
  %nav.navbar.navbar-default(id="global-navigation" aria-label="global navigation" )
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Illinois Data Bank
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{href: "/datasets/pre_deposit", id: "deposit_link"}
            %span.glyphicon.glyphicon-plus
            Deposit Dataset
        %li
          %a{:href => "/datasets"}
            %span.glyphicon.glyphicon-search
            Find Data
        %li
          %a{:href => "/policies"}
            %span.glyphicon.glyphicon-info-sign
            Policies
        %li
          %a{:href => "/guides"}
            %span.glyphicon.glyphicon-question-sign
            Guides
        %li
          %a{:href => "/contact"}
            %span.glyphicon.glyphicon-envelope
            Contact Us
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li
            %a{href: "/datasets?editor=#{current_user.username}"}
              =current_user.name
          %li
            %a{href: "/logout"}
              Log out
        - elsif Rails.env.development? || Rails.env.test?
          %li
            %a{href: "/login"}
              Log in Local
        - else
          %li
            %a{href: "/login"}
              Log in with NetID
  / /.nav-collapse
