%footer.library-footer.hide-when-printing{:role => "contentinfo"}
  .row.footer-info
    %h2.sr-only library website footer information
    %p.repository-footer-info
      The Illinois Data Bank is a product of the
      %a{:href => "https://www.library.illinois.edu/rds/"} Research Data Service
      at the University Library.
      See our
      %a{:href => "/policies", :target => "_blank"} Access and Use Policy
      and
      = succeed "." do
        %a{:href => "https://www.vpaa.uillinois.edu/resources/web_privacy"} Web Privacy Notice
      %a{:href => "/contact", :target => "_blank"} Contact us
      for questions and to provide feedback.
  .row.lg-copyright-footer
    .col-md-12.copyright-footer{"aria-label" => "university library copyright info"}
      %p
        %a{"aria-label" => "University of Illinois website link", :href => "http://illinois.edu"}
          = image_tag('logo_wordmark_footer.png', alt: "University of Illinois Logo")
      © 2019 University of Illinois Board of Trustees
