%header(class="library-header img-responsive hidden-xs" )
  .container-fluid
    %a(href="http://www.library.illinois.edu" target="_blank" )
      =image_tag("library_wordmark_orange_i.png", class: "img-responsive banner-image-library", alt: "University Library, University of Illinois Urbana-Champaign")
