#welcome-image.hidden-xs
  #welcome-overlay
    %ul.list-unstyled
      %li.welcome-item
        The
        %h1.naked Illinois Data Bank
        is a public access repository for publishing research data from the University of Illinois Urbana-Champaign.
      %li.welcome-item
        %a.underline{href: "/guides#desirable_characteristics"}
          Learn how we meet trustworthy repository standards
