#welcome-image.hidden-xs
  #welcome-overlay
    %p The Illinois Data Bank is a public access repository for publishing research data from the University of Illinois Urbana-Champaign
    %p
      = link_to 'Learn how we meet trustworthy repository standards', "/guides#desirable_characteristics"