<div class='hidden-xs' id='welcome-image' width="page">
  <div id='welcome-overlay'>
  <p>The Illinois Data Bank is a public access repository for publishing research data from the University of Illinois Urbana-Champaign</p>
  <p>
  <a href="/guides#desirable_characteristics">Learn how we meet trustworthy repository standards</a>
  </p>
  </div>
  </div>
  <div class='container-fluid'>
<div class='welcome-div'>