- if current_user && current_user.system_admin?
  %h1 Curator and Admin Dashboard
  .row
    .col-md-3
      =link_to "/researcher_spotlights", class:"btn btn-primary btn-block idb" do
        Manage Researcher Spotlight
        %span( class="glyphicon glyphicon-star" )
    .col-md-3
      =link_to "/deposit_exceptions", class:"btn btn-primary btn-block idb" do
        Manage Deposit Exceptions
        %span( class="glyphicon glyphicon-user" )
    .col-md-3
      =link_to "/curators", class:"btn btn-primary btn-block idb" do
        Manage Curators
        %span( class="glyphicon glyphicon-user" )
        %span( class="glyphicon glyphicon-certificate" )
    .col-md-3
      =link_to "/clear_cache", method: :post, class:"btn btn-primary btn-block idb", id: "clear-cache-btn", data: { confirm: "Are you sure you want to clear the Rails cache?" } do
        Clear Rails Cache
        %span( class="glyphicon glyphicon-refresh" )   
  .panel-group(id="file-audit-request" aria-multiselectable="true")
    .panel.panel-default
      .panel-heading(id="fileAuditRequestHeading")
        %h4.panel-title
          %a( role="button" data-toggle="collapse" data-parent="#file-audit-request" href="#fileAuditRequestPanel" aria-expanded="false" aria-controls="fileAuditRequestPanel" class="accordion-toggle collapsed" )
            %span.metadata-label Request File Audit Report
            %span( class="glyphicon glyphicon-file" )
      .panel-collapse.collapse(id="fileAuditRequestPanel" role="tabpanel" aria-labelledby="fileAuditRequestHeading" )
        .panel-body
          = render partial: 'file_audit_request_form'
  .panel-group(id="service-msg" aria-multiselectable="true")
    .panel.panel-default
      .panel-heading(id="serviceMsgHeading")
        %h4.panel-title
          %a( role="button" data-toggle="collapse" data-parent="#service-msg" href="#serviceMsgPanel" aria-expanded="false" aria-controls="funderPanel" class="accordion-toggle collapsed" )
            %span.metadata-label Manage Service Message
            %span( class="glyphicon glyphicon-bullhorn" )
      .panel-collapse.collapse(id="serviceMsgPanel" role="tabpanel" aria-labelledby="serviceMsgHeading" )
        .panel-body
          = render partial: 'service_message_form'
- if current_user && current_user.role == 'admin'
  = render partial: 'role_switch_form'
- else
  %h2 You are not authorized to view this page.
  = link_to 'Back', root_path, class: 'btn btn-primary idb'