%h1.contact-header Contact us, we are here to help!
.inset-section
  %h2 Email
  %p.large-text
    Email us at
    %a.intense(href="mailto:databank@library.illinois.edu" class="underline" )
      databank@library.illinois.edu
    for support with your dataset submission. 
  OR
  %h2 Consultation Request Form
  %p.large-text
    
    Fill out the
    %a.intense(href="https://forms.illinois.edu/sec/1628290621" class="underline" )
      Illinois Data Bank Consultation Request form
    to seek assistance from the Research Data Service team.
  %h2 Policies
  %p.large-text
    To learn about our Deposit Agreement, Preservation Policy, Withdrawal Guidelines and more, refer to the
    %a.intense(href="/policies" class="underline" )
      %span.glyphicon.glyphicon-info-sign
      Policies
    page.
