%h2.contact-header Contact us, we are here to help!
%br
%p.large-text
  Email us at
  %a.intense(href="mailto:databank@library.illinois.edu" )
    databank@library.illinois.edu
  for support with your dataset submission. Or, fill out the
  %a.intense(href="https://forms.illinois.edu/sec/1628290621" )
    Illinois Data Bank Consultation Request form
  to seek assistance from the Research Data Service team.

%p.large-text
  To learn about our Deposit Agreement, Preservation Policy, Withdrawal Guidelines and more, refer to the
  %a.intense(href="/policies" )
    %span.glyphicon.glyphicon-info-sign
    Policies
  page.
