=form_tag '/update_help_transition' do
  .row
    .col-md-3.col-md-offset-3
      %a.btn.btn-success.idb{:href => "/guides"}
        %span.glyphicon.glyphicon-question-sign
        Guides
    .col-md-5
      = select_tag('state',options_for_select(@possible_states, Application.help_transition_state), class: "form-control")
    .col-md-1
      = submit_tag 'Update', class: "btn btn-primary btn-block"