.jumbotron
  Something went wrong during attempt to register. If you have a NetID, Log in with your NetID using the link at the top right of the screen. Registration without a NetID is by invitation only. If you do not have a NetID, but do have an invitation to register with Illinois Data Bank for a review or curation task, please contact
  =succeed "." do
    %a(href="mailto:researchdata@illinois.library.illinois.edu") researchdata@illinois.library.illinois.edu