.container-fluid

  =render partial: 'heading'
  %h3 Add Invitee
  %em Register an email address as valid for registration, and define the permitted account's characteristics.
  %hr
  =render partial: 'invitees/form'