name: "databank"

services:
  sunspot:
    platform: linux/amd64
    hostname: sunspot
    build:
      context: ..
      dockerfile: .devcontainer/sunspot/Dockerfile
    ports:
      - "8983:8983"
  minio:
    platform: linux/amd64
    image: minio/minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    hostname: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
  sqs-mock:
    platform: linux/amd64
    build:
      context: ..
      dockerfile: .devcontainer/sqs-mock/Dockerfile
    hostname: sqs-mock
    ports:
      - "9324:9324"
  postgres:
    platform: linux/amd64
    image: postgres:12-alpine
    environment:
      POSTGRES_DB: databank
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    hostname: postgres
    ports:
      - "5432:5432"
  rabbitmq:
    platform: linux/amd64
    build:
      context: ..
      dockerfile: .devcontainer/rabbitmq/Dockerfile
    hostname: rabbitmq
    ports:
      - "5672:5672"
  memcached:
    platform: linux/amd64
    image: memcached
    hostname: memcached
    ports:
      - '11211:11211'
  databank:
    platform: linux/amd64
    build:
      context: ..
      dockerfile: .devcontainer/databank/Dockerfile
    depends_on:
      - sunspot
      - postgres
      - rabbitmq
      - memcached
      - sqs-mock
      - minio
    ports:
      - "3000:3000"
    volumes:
    - ../..:/workspaces:cached
    command: sleep infinity
