.dialog.text-center
  %h2 We're sorry, but something went wrong.
  %hr
  %p
    Details have been logged.
    %b
    Please
    %a(href="/contact" target="_blank")
      contact the Research Data Service Team
    with questions.
