%hr
.row.text-center
  .col-md-1
    .dcn-home
      .fas.fa-home.fa-3x
    %a(href="/data_curation_network") Home
  .col-md-10
    %h2
      %a(href="https://datacurationnetwork.org/") Data Curation Network
      Portal for
      %a(href="/") Illinois Data Bank
  .col-md-1
    .dcn-contact
      .fas.fa-envelope.fa-3x
    %a(href="mailto:researchdata@illinois.library.illinois.edu") Contact
%hr
