.container-fluid

  =render partial: 'heading'

  -if(can? :manage, Invitee)

    %h3 Accounts
    .pull-right
      %button(type="button" id="add-account-btn" class="btn btn-primary" onclick='window.location = "/data_curation_network/account/add"' )
        %span(class="glyphicon glyphicon-plus" )
        Add New Account
    -if @accounts && @accounts.count > 0
      %table.table.table-stripped
        %thead
          %tr.row
            %th.col-md-4
              %strong Email
            %th.col-md-4
              %strong Expires
            %th.col-md-4(colspan="2" )
              %strong Actions
        %tbody
          -@accounts.each do |account|
            %tr.row
              %td.col-md-4
                =account.email
              %td.col-md-4
                -if account.expires_at
                  =account.expires_at.iso8601
                -else
                  does not expire
              %td.col-md-2
                %button(type="button" class="btn btn-success btn-block"  onclick='window.location = "/data_curation_network/accounts/#{account.id}/edit"'  )
                  Edit
              %td.col-md-2
                =button_to 'Delete', "/invitees/#{account.id}", class: "btn btn-danger btn-block idb", method: :delete, data: { confirm: 'Are you sure?' }


  -else
    .jumbotron
      This page is for administration of the Data Curation Network Portal for Illinois Data Bank. If you are an administrator, log in to manage accounts.
