.container-fluid
  =render partial: 'heading'

  %p
    An activation link has been sent to your email account.
  %p
    Please allow some time for the email to be delivered. Once you receive the email, please follow the link to log in to the Data Curation Network portal for the Illinois Data Bank.