<p>The Illinois Data Bank is certified as a trustworthy repository and meet data sharing requirements for federally funded research. It aligns with the desirable characteristics for repositories agreed to by Federal agencies <sup id='ref_mention_1'>
    <a id="share_mention_1a" class='intense' href='#share_ref_1'>1</a>

  </sup> and meets the CoreTrustSeal organization's 2023-2025 requirements <sup id='ref_mention_2'>
    <a id="share_mention_2" class='intense' href='#share_ref_2'>2</a>
  </sup>(see the table below). </p>
<p>
  The Office of Science and Technology Policy (OSTP) provides a guidance document outlining desirable characteristics for data repositories
  <a id="share_mention_1b" class='intense' href='#share_ref_1'><sup>1</sup></a>.
  This guidance serves as a tool for the research community - including investigators, program officers, data managers, librarians, and others - to identify data repositories that
  comply with Federal data sharing policies. In 2024, the Illinois Data Bank achieved certification as a trustworthy data repository based on the CoreTrustSeal's 2023-2025
  Core Trustworthy Data Repositories Requirements <a id="share_mention_3" class='intense' href='#share_ref_3'><sup>3</sup></a>.
  CoreTrustSeal is an international, community based, non-governmental, and non-profit organization promoting sustainable and trustworthy data infrastructures.
  </p>
<div class='table-responsive'>
  <table class='table table-bordered' id='desirable_char_repo'>
    <thead>
      <tr class='row idb-infographic-header'>
        <th class='col-md-5'>
          <h4>Desirable Characteristics of Repositories</h4>
        </th>
        <th class='col-md-7'>
          <h4>Illinois Data Bank</h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class='row'>
        <td>Free and Easy Access</td>
        <td>
          <ul>
            <li>Supports broad, equitable, and open access</li>
            <li>Provides free access to dataset and metadata after publication</li>
          </ul> 
        </td>
      </tr>
      <tr class='row'>
        <td>Clear Use Guidance</td>
        <td>
          <ul>
            <li>Provides clear <a href="https://databank.illinois.edu/policies#access_and_use">policy describing access and use</a></li>
            <li>Offers three license options: CC0, CC-BY, and custom license</li>
          </ul>
        </td>
      </tr>
      <tr class='row'>
        <td>Risk Management</td>
        <td>
          <ul>
            <li>Is intended for unrestricted data</li>
          </ul>
        </td>
      </tr>
      <tr class='row'>
        <td>Retention Policy</td>
        <td>
          <ul>
            <li>Issues policy for <a href="https://databank.illinois.edu/policies#preservation_policy">data retention</a></li>
          </ul>
        </td>
      </tr>
      <tr class='row'>
        <td>Long-term Organizational Sustainability </td>
        <td>
          <ul>
            <li>Describes a plan for long-term management of data in its <a href="https://databank.illinois.edu/policies#preservation_policy">preservation policy</a></li>
            <li>Has contingency plans to ensure data are available and maintained during and after unforeseen events</li>
          </ul>
        </td>
      </tr>
      <tr class='row'>
        <td>Unique Persistent Identifiers</td>
        <td>
          <ul>
            <li>Assigns citable, DOI to datasets via DataCite</li>
            <li>DOI points to persistent landing page</li>
          </ul>
        </td>
      </tr>
      <tr class='row'>
        <td>Metadata</td>
        <td>
          <ul>
            <li>Follows DataCite metadata schema</li>
            <li>Enables discovery, reuse, and citation of datasets</li>
          </ul>
        </td>
      </tr>
      <tr class='row'>
        <td>Curation and Quality Assurance</td>
        <td>
          <ul>
            <li>Provides curatorial review of datasets</li>
            <li>Is a sustaining member of the Data Curation Network that provides curation expertise</li>
          </ul>
        </td>
      </tr>
      <tr class='row'>
        <td>Broad and Measured Reuse</td>
        <td>
          <ul>
            <li>Displays data citation and download counts on dataset landing pages</li>
            <li>Maintains links to other related materials</li>
          </ul>
        </td>
      </tr>
      <tr class='row'>
        <td>Common Format</td>
        <td>
          <ul>
            <li>Accepts files in any formats</li>
            <li>Encourages the use of non-proprietary and widely used format</li>
          </ul>
        </td>
      </tr>
      <tr class='row'>
        <td>Provenance</td>
        <td>
          <ul>
            <li>Records changes to metadata and records in a change log</li>
            <li>Change data files only through a robust versioning process</li>
          </ul>
        </td>
      </tr>
      <tr class='row'>
        <td>Authentication</td>
        <td>
          <ul>
            <li>Uses the University’s Shibboleth provider for the authentication of data submitters</li>
            <li>Facilitates persistent identifiers (DOIs, ORCIDs)</li>
          </ul>
        </td>
      </tr>
      <tr class='row'>
        <td>Long-term Technical Sustainability</td>
        <td>
          <ul>
            <li>Describes a plan for long-term management of data in its <a href="https://databank.illinois.edu/policies#preservation_policy">preservation policy</a></li>
            <li>Builds on a stable technical infrastructure and permanent central funding</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h4>References</h4>
<ul class="no-bullets">
  <li class="no-bullets"><a id='share_ref_1' class='intense' href='#share_mention_1a'><sup class='nudge-left-12'>1</sup></a>
    The National Science and Technology Council, Desirable Characteristics of Data Repositories for Federally Funded Research, 2022,
    DOI: <a href="https://doi.org/10.5479/10088/113528">https://doi.org/10.5479/10088/113528</a>.
  </li>
  <li class="no-bullets">
    <a id='share_ref_2' class='intense' href='#share_mention_2'><sup class='nudge-left-12'>2</sup></a>
    CoreTrustSeal Standards and Certification Board. (2022).
    CoreTrustSeal Requirements 2023-2025 (V01.00). Zenodo.
    DOI: <a href="https://doi.org/10.5281/zenodo.7051012">https://doi.org/10.5281/zenodo.7051012</a>
  </li>  
  <li class="no-bullets">
    <a id='share_ref_3' class='intense' href='#share_mention_3'><sup class='nudge-left-12' >3</sup></a>
    Illinois Data Bank. (2024). "2027-09-19 - Illinois Data Bank - CoreTrustSeal Requirements 2023-2025". DataverseNL.
    DOI: <a href="https://doi.org/10.34894/TKWRBT">https://doi.org/10.34894/TKWRBT</a>.
  </li>
</ul>