// identity variables 2025-06-25
// source: https://cdn.brand.illinois.edu/illinois.css

$font__georgia: Georgia, serif;
$font__montserrat: "Montserrat", sans-serif;
$font__open-sans: 'Open Sans', sans-serif;
$font__source-sans: 'Source Sans', sans-serif;
$font__heading: $font__georgia;
$font__sans: $font__source-sans;
$font__serif: $font__georgia;

$color__il-orange: #FF5F05;
$color__il-altgeld: #C84113;
$color__il-altgeld-darker-1: #983220;
$color__il-blue: #13294B;
$color__il-blue-lighter-1: #3A4461;
$color__il-blue-lighter-2: #677592;
$color__il-blue-lighter-3: #929FB5;
$color__il-blue-lighter-4: #BFC9D9;
$color__il-blue-darker-1: #000033;
$color__il-blue-darker-2: #0E0F20;
$color__il-storm: #707372;
$color__il-storm-lighter-1: #8D8F8E;
$color__il-storm-lighter-2: #A9ABAA;
$color__il-storm-lighter-3: #C6C7C7;
$color__il-storm-lighter-4: #F4F4F4;
$color__il-storm-darker-1: #4A4C4B;
$color__il-storm-darker-2: #252525;
$color__il-industrial: #1D58A7;
$color__il-industrial-lighter-1: #526FB3;
$color__il-industrial-lighter-2: #759BD1;
$color__il-industrial-lighter-3: #90AED5;
$color__il-industrial-lighter-4: #CAD9EF;
$color__il-industrial-darker-1: #2F568C;
$color__il-industrial-darker-2: #1F3D7B;
$color__il-arches: #009FD4;
$color__il-arches-lighter-1: #3CB4E5;
$color__il-arches-lighter-2: #7FC3E1;
$color__il-arches-lighter-3: #A6D7EB;
$color__il-arches-lighter-4: #D2EBF5;
$color__il-arches-darker-1: #00779F;
$color__il-arches-darker-2: #005677;
$color__il-harvest: #FCB316;
$color__il-prairie: #006230;
$color__il-patina: #007E8E;
$color__il-berry: #5C0E41;
$color__il-earth: #7D3E13;

// end identity variables 2025-06-25

//start legacy variables
//Primary Palette
$color__light-orange: #ffa466;
$color__orange: #F47F24;
$color__dark-orange: #c86128;
$color__light-blue: #ccdff6;
$color__dark-moderate-blue: #2d4f8e;
$color__navy: #1f3762;
$color__dark-navy: #022544;
$color__link-blue: #428bca;
$color__darker-blue: #0c172d;
$color__official_orange: #FA6300;
$color__official_blue: #131F33;
$color__lighter_blue: #e0ebf9;
$color__lightest_blue: #eff5fc;

//Secondary Palette
$color__highlight-green: #e2e8bc;
$color__green: #acbe38;
$color__highlight-red: #f0c4c5;
$color__red: #bf2d2b;
$color__orange-red: #dd3403;
$color__highlight-orange: #fed9bf;
$color__yellow: #ffea00;
//$color__bright-orange: #f05a24;
$color__burnt-orange: #c74a27;
$color__darkest-orange: #8d3400;

//Greys Palette
$color__lightest-grey: #f3f2f2;
$color__light-grey: #dddddd;
$color__medium-grey: #bbbbbb;
$color__darker-grey: #777777;
$color__darkest-grey: #333333;

//location relative color variables
$color__background-main-column: #fff;

//underscores default color variables
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
//underscores default link variables
//used in sass/navigation/links
//which has been disabled in
//sass/navigation
//$color__link: royalblue;
//$color__link-visited: purple;
//$color__link-hover: midnightblue;

//use specific color variables
$color__text-light: #fff;
$color__dark-link: #265191;

$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

//Palettes
$color__light-blue-background: #ccdef3;
$color__light-blue-header: $color__navy;

$color__red-background: $color__highlight-red;
$color__red-header: $color__red;

$color__green-background: $color__highlight-green;
$color__green-header: #333;
$color__green-title-background: #ADBF39;

$color__yellow-background: #f7ecad;
$color__yellow-header: #333;

$color__gray-background: #ccc;
$color__gray-header: #333;

$color__orange-background: #f7c7a6;
$color__orange-header: #c96128;

//colors not in wp scss
$color__light-orange-hover: #DD6C2A;
$color__med-orange: #C95F17;
$panel-border: 1px solid #bbb;

@mixin border-rad() {
  border-radius: 0;
}