footer {
  margin: 1em 0em 0em 0em;
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .contact-area {
    text-align: center;
    background-color: $color__lightest-grey;
    border-bottom: 4px solid $color__light-grey;
    padding-top: 6px;
  }
  .info-area {
    background-color: #13294b;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    padding: 1em 0em 2em 0em;
    text-align: center;
    a {
      color: white;
    }
    img {
      max-width: 200px;
    }
    .footer-library_copyright {
      font-size: 11px;
    }
  }
}