.bs-callout-info img {
  max-width: 90%;
  margin: auto;
}

.idb-help h3 {
  font-weight: bold;
  font-size: large;
  line-height: 1.3;
}

.idb-help h4 {
  padding-top: 3px;
  font-weight: bold;
  font-size: large;
}

.idb-help li {
  font-size: large;
  line-height: 1.3;
}

h3.definition {
  display: inline
}