html {
    font-family: var(--il-font-montserrat);
    font-size: 16px;
    line-height: 1.42;
    color: #333333;
    background-color: #fff;
}
il-header *[slot=links] p.navitem {
    padding: 0 .25rem;
    color: var(--il-blue);
    font: 700 1.25rem var(--il-font-sans);
}
h3.dataset-title {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 1em;
}
h3.filter-heading {
  margin: 0;
  font-size: 1em;
}
h2.subhead {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}