.featured-buttons{
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.featured-buttons button{
  width: 45%;
  text-align: center;
  margin: auto;
}

.featured-controls {
  margin-top: .25em;
}

.featured-researcher {
  border-left: 2px solid var(--il-storm-lighter-3);
  padding-left: .5em;
  margin-left: .5em;
}
