.tooltip-inner{
  background-color: white;
  color: black;
  border: 1px solid black;
  max-width: 350px;
  text-align: left;
}

.tooltip-arrow{
  background-color: white;
}

.tip-target{
  color: #265191;
}