.bs-callout.bs-callout-info.idb-help(id="file_naming")
  %br
  %hr
  %h2 File Naming Best Practices
  %hr
  .indent
    .table-responsive
      %table(id="file_naming_info_table" class="table table-bordered" )
        %thead
          %tr(class="row idb-infographic-header" )
            %th(class="col-md-6")
              %h4 File naming best practice
            %th(class="col-md-6")
              %h4 Examples
        %tbody
          %tr(class="row" )
            %td
              %p Use YYYY-MM-DD format
            %td
              %p project01_2019-01-01
          %tr(class="row" )
            %td
              %p Use combination of letters, numbers, underscores, and hyphens
            %td
              %p project01_raw-data.json
          %tr(class="row" )
            %td
              %p Use standard file extensions to indicate file type
            %td
              %p myproject.txt
          %tr(class="row" )
            %td
              %p Use leading zeroes for version
            %td
              %p
                ="name001.csv     name010.csv     name101.csv"
          %tr(class="row" )
            %td
              %p Keep file name short
            %td
              %p not_too_long.xml
          %tr(class="row" )
            %td
              %p Use alphanumericals
            %td
              %p data_champaign_il_2019-01-01.csv
          %tr(class="row" )
            %td
              %p Use underscore between words
            %td
              %p data_location_time.csv
          %tr(class="row" )
            %td
              %p Use lowercase (some systems are case sensitive)
            %td
              %p all_lowercase_would-be-safer.tiff
