.modal.fade(id="orcid-help-modal" role="dialog" aria-labelledby="orcid-help-title")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        =image_tag 'orcid_32x32.png', alt: 'orcid logo'
        %h2#orcid-help-title ORCiD iD Help
        %button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          &times;
      .modal-body

        %p
          An ORCiD iD is a persistent digital identifier that distinguishes you from other researchers. Learn more at
          %a(href="http://orcid.org/" target="_blank" )
            orcid.org.
