.modal.fade(id="primaryContactModal")
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %button(class="close" data-dismiss="modal")
          &times;
        %h2 Selecting a Primary Contact
      .modal-body
        =render partial: 'datasets/select_contact_info'
        .container-fluid
          .pull-right
            %br
            %button(onclick='window.open("/help")' type="button" class="btn btn-success" data-dismiss="modal" id="help-button")
              %span(class="glyphicon glyphicon-question-sign")
              Get Help
