.modal.fade(id="uploadKey")
  .modal-dialog
    .modal-content
      .modal-header
        %button(class="close" data-dismiss="modal")
          &times;
        %h2 Upload Guide Key
      .modal-body




