.bs-callout.bs-callout-info.idb-help(id="versioning")
  %br
  %hr
  %h2 Changing, Updating, or Adding Files
  %hr
  .indent
    %p
      You can add and remove files in draft datasets.  A draft dataset does not have a
      = succeed "," do
        %a(href="/help#DOI") DOI
      because it not been published or scheduled for publication.

    %p
      What do you do if you realize you need to correct an error in a dataset you've already published or scheduled for publication? Or what if you have created a helpful documentation file that you want to add to make it easier for others to understand your dataset? Even though the Illinois Data Bank is designed for publication-ready data, we are available to discuss any situation you may be in where you would like to create a new version of your dataset. Please
      %a(href="/contact" ) contact us
      so that we can discuss your situation and needs.

    %p
      If you expect that your dataset might evolve over time (for example, additional data will be added each year), consider setting, defining, and documenting a "release" cycle. For example, if you plan to deposit rainfall data, appropriate release cycles could include a calendar-based season or annual release, which should be clearly indicated in any documentation files that you deposit along with your data files. To determine the granularity of the release cycle you can consider what span of data is most likely to be needed for reuse, how quickly you'd like to make the data public, and how often you can commit to collect, prepare, and document datasets for deposit. Consider
      %a(href="/contact" ) requesting a consultation
      from the Research Data Service staff to discuss these options.
