.bs-callout.bs-callout-info.idb-help
  %h2 Policy Framework
  %h3 About the Illinois Data Bank
  %p
    The Illinois Data Bank is a file-based repository for research data at the University of Illinois at
    Urbana-Champaign. The Research Data Service and associated staff, located within the University Library, assumes
    responsibility for the operation and policies of the Illinois Data Bank.
  %p
    The Illinois Data Bank's mission is to centralize, preserve, and provide persistent and reliable access to the
    research data created by affiliates of the University of Illinois Urbana-Champaign, such as its faculty,
    academic staff, and graduate students. The Illinois Data Bank is intended to be responsive to the Illinois
    research community, is supported by the University of Illinois Urbana-Champaign, and endeavors to be both
    durable and sustainable. The Illinois Data Bank is a platform for making Datasets created from research projects
    by University of Illinois Urbana-Champaign researchers publicly accessible by seeing that the research data
    is both widely discoverable and linked to associated works, such as journal articles, source code, or data
    deposited elsewhere. Depositing research data into the Illinois Data Bank is voluntary.
  %p
    The Illinois Data Bank is intended to provide maximum public access to
    %strong unrestricted research data
    for the
    advancement of scholarship and the public good in ways that are consistent with the U.S. President's Office of
    Science and Technology Policy
    %a{:href => "https://web.archive.org/web/20160304043850/https:/www.whitehouse.gov/sites/default/files/microsites/ostp/ostp_public_access_memo_2013.pdf"} ("OSTP") Public Access Memo
    of 2013. The University of Illinois Urbana-Champaign maintains its commitment
    to seeing that restricted data are not inappropriately or inadvertently disclosed, consistent with all
    requirements pertaining to the collection, storage, access, use, transmission, and disposal of sensitive data.
    Researchers are obligated to be vigilant in seeing that such restricted data is not made publicly accessible
    through the Illinois Data Bank or any other unmediated public access mechanism.
  %h3 Illinois Data Bank Policies
  %p The following policy documents govern the obligations of the Illinois Data Bank service and users:
  .indent
    %h4
      %a{:href => "#access_and_use"} Access and Use Policy
    %h4
      %a{:href => "#accession_policy"} Accession Policy
    %h4
      %a{:href => "#deposit_agreement"} Deposit Agreement
    %h4
      %a{:href => "#preservation_policy"} Preservation Policy
    %h4
      %a{:href => "#preservation_review"} Preservation Review, Revision, Retention, Deaccession, and Withdrawal Procedure
  %h3 Review of Policies
  %p
    The Illinois Data Bank policies are intended to be dynamic and flexible documents, responsive to changes in the
    academic environment and attentive to the work of other campus units and programs such as the Illinois Digital
    Environment for Access to Learning and Scholarship (IDEALS), the University
    Archives, the Records &amp; Information Management Services, Technology Services, the Office of the Vice
    Chancellor of Research, and the National Center for Supercomputing Applications. The Research Data Service staff
    will review all policies on a quarterly basis during the Illinois Data Bank's first year (May 2016-May 2017). In
    subsequent years, the policies will be reviewed as needed, and at least annually. All past versions of each policy will be maintained in IDEALS (
    %a{:href => "http://hdl.handle.net/2142/91039"}> http://hdl.handle.net/2142/91039
    ). The Research Data Service will strive to see that any Dataset deposited in
    the Illinois Data Bank remains subject to the Illinois Data Bank policies that are in place on the date the
    Depositor of that Dataset accepts the Deposit Agreement. The Director of the Research Data Service manages the
    Illinois Data Bank policies, including the approving of any revisions and/or exceptions to these policies. The
    Associate University Librarian for Digital Strategies serves as an alternate manager of the Illinois Data Bank policies should
    an alternate manager be required for any reason.
  %h3 Definitions
  %p
    The following are simplified definitions of terms as they are used in Illinois Data Bank policies. Sources are
    provided where possible; please note that many definitions have been adjusted to reflect the specific context of
    the Illinois Data Bank.
  %h4
    Creator(s)
    %sup#ref_mention_1
      %a{:href => "#ref_1"} 1
  %em synonym: Author(s)
  %p
    An individual or group of individuals who make, conceive, reduce to practice, author, or otherwise make a
    substantive intellectual contribution to the creation of intellectual property (e.g., Datasets).

  %h4 Data
  %p
    Factual material commonly accepted in a given research community as necessary to validate or extend research
    findings. Data may be qualitative, in the form of literature, interviews, observations, etc., or quantitative,
    in the form of numerical, spatial, measurements, etc.

  %h4 Data File
  %p
    File of Data that enables ready inspection and/or reuse of the Data in visualization tools, analysis software,
    or analysis scripts.

  %h4
    Dataset
    %sup#ref_mention_2
      %a{:href => "#ref_2"} 2
  %p
    An intentional collection of Data Files and/or Metadata Files together with the associated Descriptive
    Metadata.
  %p
    %small
      %em
        Note: A Dataset may be as simple as a single Data File and/or Metadata File and the associated Descriptive
        Metadata. A Dataset could also be a package of any combination of raw, semi-processed, or aggregate Data
        Files, relevant processing and analysis scripts, and Metadata Files such as a readme file.
  %h4 Dataset Publishing
  %p
    The process of making a Dataset publicly available, discoverable, and citable independent of other research
    publications such as a journal article.

  %h4
    Deaccessioning
    %sup#ref_mention_3
      %a{:href => "#ref_3"} 3
  %p
    The process by which the Illinois Data Bank removes Data Files and/or Metadata Files from its holdings after
    the initial commitment period ends if recommended after conducting a Preservation Review.
  %p
    %small
      %em
        Note: See the
        %a{:href => "#preservation_review"}
          Illinois Data Bank Preservation Review, Revision, Retention, Deaccession, and
          Withdrawal Procedure
        and
        %a{:href => "#preservation_guidelines"} Preservation Review Guidelines
        for more
        details about reviewing, revising, retaining, deaccessioning, and withdrawing in the Illinois Data Bank.

  %h4 Depositor
  %p
    The person depositing a Dataset into the Illinois Data Bank where the Depositor is a Creator (e.g., has made a
    substantive intellectual contribution to the creation) of the deposited Dataset or is authorized by such a
    Creator to act on his/her behalf. At least one of the Creators of such a Dataset must be affiliated with the
    Urbana-Champaign campus of the University of Illinois before a Creator or someone acting on behalf of a Creator
    can deposit into the Illinois Data Bank.
  %h4 Descriptive Metadata
  %p
    The information about the Dataset being deposited in the Illinois Data Bank, such as Dataset Creator(s), title,
    funder, etc.
  %p
    %small
      %em
        Note: Descriptive Metadata is initially provided by the Depositor during the submission process.
        Modifications to the Descriptive Metadata can be made after a Dataset is published by the Depositor and/or the
        Research Data Service staff.

  %h4
    Digital Object Identifier
    %sup#ref_mention_4
      %a{:href => "#ref_4"} 4
  %em abbreviation: DOI
  %p
    A Digital Object Identifier (DOI) is a unique alphanumeric string assigned by a registration agency (the
    International DOI Foundation) to identify content and provide a persistent link to its location on the
    Internet.
  %h4
    Digital Preservation
    %sup#ref_mention_5
      %a{:href => "#ref_5"} 5
  %p
    Policies, strategies, and actions to allow access to digital content over time regardless of the challenges of
    media failure and technological change. The goal of digital preservation is the accurate rendering of content
    over time.
  %h4
    Disposition
    %sup#ref_mention_6
      %a{:href => "#ref_6"} 6
  %p
    Retention, transfer, or discard of Data Files, Metadata Files, and/or Descriptive Metadata as determined
    through Preservation Review.
  %p
    %small
      %em
        Note: See the
        %a{:href => "#preservation_review"}
          Illinois Data Bank Preservation Review, Revision, Retention, Deaccession, and
          Withdrawal Procedure
        for more details about reviewing, revising, retaining, deaccessioning, and withdrawing in the Illinois Data Bank.
  %h4
    Long-Term Contact Person
    %sup#ref_mention_7
      %a{:href => "#ref_7"} 7
  %em synonyms: Corresponding Author, Corresponding Creator
  %p
    A person who serves as the primary contact and information provider for third parties wishing to find out more
    about a specific Dataset.
  %p
    %small
      %em
        Note: This person generally carries ultimate responsibility for the validity of the Dataset and is most
        often a faculty member and/or Principal Investigator ("PI") of the project under which the Dataset
        originated.
  %h4 Metadata File
  %p
    File that provides information about a Data File(s) pertinent to the understanding, inspecting and/or reusing
    of the Data File(s), including descriptive information, documentation, technical specifications, readme files,
    provenance, and rights information.
  %h4 Owner
  %p The individual, organization, or other entity that owns the intellectual property rights to the Dataset.
  %p
    %small
      %em
        Note: Nothing in these Illinois Data Bank Policies shall be considered as enlarging or reducing the
        ownership rights of the Creators of the Datasets.
  %p
    %em
      See the University's General Rules, in particular Article III, Sections 5, 4, 2(a) and 2(d) regarding
      ownership.
    %sup#ref_mention_8
      %a{:href => "#ref_8"} 8
  %h4 Preservation Review
  %p
    Assessment of the long-term viability of Datasets published in the Illinois Data Bank that may result in
    retaining, escalating preservation activities for, transferring, or discarding the Dataset.
  %h4
    Provenance
    %sup#ref_mention_9
      %a{:href => "#ref_9"} 9
  %p Information regarding the origins, custody, and ownership of a Dataset.
  %h4
    Publication Delay Period
    %sup#ref_mention_10
      %a{:href => "#ref_10"} 10
  %em synonym: Embargo Period
  %p The period of time during which public access to all or part of a Dataset is not yet allowed.
  %p
    %small
      %em
        Note: The Illinois Data Bank supports publication delay periods for just the Data Files and/or Metadata
        Files only or for the entire Dataset. The items under publication delay are released to the public on a date
        specified by the Depositor.
  %h4
    Steward
    %sup#ref_mention_11
      %a{:href => "#ref_11"} 11
  %p
    The individual, organization, or other entity that is financially and functionally responsible for the
    organization, Digital Preservation, transfer, and Disposition of a Dataset.
  %p
    %small
      %em
        Note: The Illinois Data Bank assumes stewardship responsibility for all Datasets deposited into the
        Illinois
        Data Bank.
  %h4 Withdrawal
  %p
    The process by which the Illinois Data Bank removes public access to all or part of a Dataset from its holdings
    for a compelling reason before the initial commitment period ends.
  %p
    %small
      %em
        Note: See the
        %a{:href => "#preservation_review"}
          Illinois Data Bank Preservation Review, Revision, Retention, Deaccession, and
          Withdrawal Procedure
        for more details about reviewing, revising, retaining, deaccessioning, and
        withdrawing in the Illinois Data Bank.
  %h3 References
  .indent
    %p
      %a{:href => "#ref_mention_1"}
        %sup#ref_1.nudge-left-12 1
      University of Illinois. 'The General Rules Concerning University Organization and Procedure,'
      Article
      III Section 2(c).
      %a{:href => "https://web.archive.org/web/20160226191920/http://www.bot.uillinois.edu/general-rules"} http://www.bot.uillinois.edu/general-rules
    %p
      %a{:href => "#ref_mention_2"}
        %sup#ref_2.nudge-left-12 2
      Dataverse Project. 'Dataset + File Management.'
      %a{:href => "https://web.archive.org/web/20160226192236/http://guides.dataverse.org/en/latest/user/dataset-management.html"} http://guides.dataverse.org/en/latest/user/dataset-management.html
    %p
      %a{:href => "#ref_mention_3"}
        %sup#ref_3.nudge-left-12 3
      Society of American Archivists.
      = succeed "." do
        %em A Glossary of Archival and Records Terminology
      %a{:href => "https://web.archive.org/web/20160407153937/http://www2.archivists.org/glossary/terms/d/deaccessioning"} http://www2.archivists.org/glossary/terms/d/deaccessioning
    %p
      %a{:href => "#ref_mention_4"}
        %sup#ref_4.nudge-left-12 4
      American Psychological Association. 'What is a digital object identifier, or DOI?'
      %a{:href => "http://www.apastyle.org/learn/faqs/what-is-doi.aspx"} http://www.apastyle.org/learn/faqs/what-is-doi.aspx
    %p
      %a{:href => "#ref_mention_5"}
        %sup#ref_5.nudge-left-12 5
      Association for Library
      Collections &amp; Technical Services. 'Definitions of Digital Preservation.'
      %a{:href => "https://web.archive.org/web/20160122120550/http://www.ala.org/alcts/resources/preserv/defdigpres0408"} http://www.ala.org/alcts/resources/preserv/defdigpres0408
    %p
      %a{:href => "#ref_mention_6"}
        %sup#ref_6.nudge-left-12 6
      Society of American Archivists.
      = succeed "." do
        %em A Glossary of Archival and Records Terminology
      %a{:href => "https://web.archive.org/web/20160407153830/http://www2.archivists.org/glossary/terms/d/disposition"} http://www2.archivists.org/glossary/terms/d/disposition
    %p
      %a{:href => "#ref_mention_7"}
        %sup#ref_7.nudge-left-12 7
      SCoRO, the Scholarly
      Contributions
      and Roles Ontology. 'contact person.'
      %a{:href => "http://purl.org/spar/scoro/contact-person"} http://purl.org/spar/scoro/contact-person
    %p
      %a{:href => "#ref_mention_8"}
        %sup#ref_8.nudge-left-12 8
      University of Illinois. 'The
      General Rules Concerning University Organization and Procedure.'
      %a{:href => "https://web.archive.org/web/20160226191920/http://www.bot.uillinois.edu/general-rules"} http://www.bot.uillinois.edu/general-rules
    %p
      %a{:href => "#ref_mention_9"}
        %sup#ref_9.nudge-left-12 9
      Society of American Archivists.
      = succeed "." do
        %em A Glossary of Archival and Records Terminology
      %a{:href => "https://web.archive.org/web/20160407154113/http://www2.archivists.org/glossary/terms/p/provenance"} http://www2.archivists.org/glossary/terms/p/provenance
    %p
      %a{:href => "#ref_mention_10"}
        %sup#ref_10.nudge-left-20 10
      SPARC Europe. 'Publication
      embargo.'
      %a{:href => "https://web.archive.org/web/20160226192027/http://sparceurope.org/embargoes/"}
        https://web.archive.org/web/20160226192027/http://sparceurope.org/embargoes/
    %p
      %a{:href => "#ref_mention_11"}
        %sup#ref_11.nudge-left-20 11
      See Cloonan, Michèle and
      Martha
      Mahard.
      %em
        ILFA-ALIS-Euclid Conference August 8-9, 2010. Cooperation and Collaboration in Teaching and Research:
        Trends in LIS Education
      'Collaborative Approaches to Teaching Digital Stewardship: Classroom,
      Laboratory, and Internships.'
      %a{:href => "https://web.archive.org/save/http://conf.euclid-lis.eu/index.php/IFLA2010/IFLA2010/paper/view/4/3"} http://conf.euclid-lis.eu/index.php/IFLA2010/IFLA2010/paper/view/4/3
  %hr/
  %p
    %a{:href => "/contact"} Contact Research Data Service staff
    with questions or to request an addition or
    revision to this policy.
  %table.table.table-bordered
    %caption.policy-document-history
      %h3
        Document History and Version Control Table for Policy Framework and Definitions
    %thead
      %tr
        %th Version
        %th Action
        %th Approved By
        %th Action Date
    %tbody
      %tr
        %td 1.0
        %td Policy issued.
        %td Heidi Imker, Director, Research Data Service
        %td 2016-05-03
      %tr
        %td 1.1
        %td
          Policy reviewed. Minor changes made:
          %br/
          \-Minor formatting and wording adjustments.
          %br/
          \-Addition of clause clarifying who serves as an alternate manager of the Illinois Data Bank policies should an
          alternate manager be required.
          %br/
          \-Versioning table added.
        %td Heidi Imker, Director, Research Data Service
        %td 2016-10-05
      %tr
        %td 1.2
        %td
          Policy reviewed. Minor changes made:
          %br/
          \-Fixed typos.
          %br/
          \-Addition of synonym to “Long-Term Contact Person” definition.
        %td Heidi Imker, Director, Research Data Service
        %td 2017-03-02
      %tr
        %td 1.2
        %td
          Policy reviewed.
        %td
          Heidi Imker, Director, Research Data Service
        %td 2019-06-20
      %tr
        %td 1.3
        %td
          Policy reviewed. Minor change made:
          %br/
          \-Wording change on the title of alternate manager of the Illinois Data Bank
        %td
          Heidi Imker, Director, Research Data Service
        %td 2021-09-13
  %p
    View past and current versions of this document in IDEALS:
    = succeed "." do
      %a{:href => "http://hdl.handle.net/2142/91039"} http://hdl.handle.net/2142/91039
