#preservation_review.bs-callout.bs-callout-info.idb-help
  %br/
  %hr/
  %h2 Preservation Review, Retention, Deaccession, Revision, and Withdrawal Procedure
  %hr/
  %h3 Purpose of this Procedure
  %p
    This document outlines the procedures for reviewing, revising, retaining, Deaccessioning, and Withdrawing Data
    Files, Metadata Files, and Descriptive Metadata published in the Illinois Data Bank.
  %h3 Preservation Review
  %p
    The long-term viability of Datasets published in the Illinois Data Bank will be assessed using a robust set of
    review criteria. The Illinois Data Bank is committed to transparency, accountability, and collaborative
    decision-making regarding assessments of the long-term preservation status of research data. While a variety of
    unique factors influence decisions made about the Disposition of Datasets, the criteria outlined in the
    %a{:href => "#preservation_guidelines"} Preservation Review Guidelines
    provide a basis for assessing Datasets.
  %h3 Preservation Review Roles and Responsibilities
  %p
    Assessment decisions are a shared responsibility and are often influenced by discipline-specific factors. The
    Research Data Service staff are responsible for developing and leading the assessment process of Datasets and will
    consult with ad hoc "Assessment Teams" comprising functional and subject specialists as well as domain experts
    outside of the Library as appropriate. The "Assessment Team" may also incorporate input from other stakeholders as
    necessary.
  %h3 Retention
  %p
    The Illinois Data Bank anticipates that the majority of Preservation Reviews will result in Dataset retention.
    The decision to retain a Dataset will typically indicate that the preservation viability of the Dataset is
    acceptable given the determined long-term value of the Dataset, and that Illinois Data Bank resources being deployed
    to steward the Dataset are at a level that is proportional to its long-term value.
  %p
    The Illinois Data Bank will commit resources to escalating preservation efforts for Datasets determined to have
    remarkable value that are suffering preservation risk or are not available in the most usable states. Examples of
    escalated preservation procedures include file format migration, enhancing Descriptive Metadata/Metadata Files, or
    improving access and/or use services by developing data-type-specific viewers/emulators.
  %h3 Deaccession
  %p
    A decision to Deaccession the Data Files and/or Metadata Files associated with a Dataset will only occur if it is
    determined that the Dataset is not of long-term value to its research community and/or its inclusion in the
    Illinois Data Bank detrimentally affects the Illinois Data Bank's ability to steward effectively other resources
    whose research value and preservation viability are evident.
  %p
    Upon deciding to Deaccession the Data Files and/or Metadata Files associated with a Dataset, the Illinois Data Bank
    will consider one of these options:
  %ul
    %li
      %p
        Transfer to a repository more appropriately situated to steward the Data Files and/or Metadata
        Files.
    %li
      %p
        Transfer Data Files and/or Metadata Files back to the Long-Term Contact Person indicated in the
        Descriptive Metadata.
  %p
    For any Data Files and/or Metadata Files that are to be Deaccessioned, a good faith effort to contact the
    Long-Term Contact Person will be made by notifying them at the email address the Illinois Data Bank has on record.
    The notification will outline the Illinois Data Bank's Deaccessioning decision.
  %p
    If the Illinois Data Bank does not receive a response from the Long-Term Contact Person after 90 days, the
    Illinois Data Bank will transfer or discard the Data Files and/or Metadata Files according to the practices and
    security standards in place at the time of Deaccessioning.
  %p
    The Illinois Data Bank will not Deaccession any Data Files and/or Metadata Files before the initial commitment
    period ends, currently five years.
  %h3 Descriptive Metadata
  %p
    The Illinois Data Bank currently plans to retain Descriptive Metadata persistently for all Datasets deposited in
    the Illinois Data Bank regardless of the Disposition of Data File(s) and/or Metadata File(s) except in rare
    circumstances as determined by the Director of the Research Data Service.
  %h3 Revisions
  %p
    Depositors are expected to confirm the validity of all content prior to publishing a Dataset. However, should an
    error in the Descriptive Metadata be discovered, the original Depositor or Research Data Service staff may make a
    revision to the Descriptive Metadata, which is tracked via a public change log.
  %p
    If a Creator of a Dataset finds that a file in their published Dataset contains an error, they must contact the
    Research Data Service staff to submit the corrected file. A new version of the entire Dataset will be created and
    a new DOI will be assigned. Research Data Service staff will see that the Descriptive Metadata associated with the
    Dataset makes apparent which version is most recent and what changes occurred. Research Data Service staff will refer
    to the
    %a{:href => "#withdrawal_guidelines"} Illinois Data Bank Withdrawal Guidelines
    when determining whether to
    remove the erroneous Dataset from public view. Depositors are expected to limit the need for versioning by not
    publishing erroneous Datasets; as such, Datasets are limited to no more than six versions, except in rare
    circumstances as determined by the Director of the Research Data Service.
  %h3 Withdrawal of Deposited Datasets
  %p
    The Illinois Data Bank may Withdraw a published Dataset from the repository before the current five year
    commitment period ends for a compelling reason. Compelling reasons include, but are not limited to, failure to
    meet the Criteria for Depositing outlined in the
    = succeed "," do
      %a{:href => "#accession_policy"} Illinois Data Bank Accession Policy
  %p
    Datasets may not be Withdrawn because the Depositor or Creator is moving to another institution. Creators have
    the right to provide additional copies to other institutions under the non-exclusive Deposit Agreement.
  %p
    All Withdrawal requests must be submitted to
    = succeed "." do
      %a{:href => "mailto:databank@library.illinois.edu"} databank@library.illinois.edu
    %a{:href => "http://www.legal.uillinois.edu/"} http://www.legal.uillinois.edu/
    as necessary.
  %p
    At minimum, Data Files and/or Metadata Files associated with a Withdrawn Dataset are removed from the public view
    and are no longer available for download. Research Data Service staff will add a statement of Withdrawal to the
    associated Dataset's Descriptive Metadata. In many cases, Withdrawal results in suppression of public access
    to Data Files and/or Metadata Files, even when the entire Dataset will be retained within our systems for the sake of
    provenance. In rarer cases, the Research Data Service staff may be compelled to delete all or part of a Dataset altogether. The Research Data
    Service staff will refer to the
    %a{:href => "#withdrawal_guidelines"} Illinois Data Bank Withdrawal Guidelines
    to
    respond to the varying circumstances under which Withdrawal may occur.
  %h3 Withdrawal of Dataset Drafts
  %p
    In order to ensure sustainability of technological and storage resources, the Research Data Service staff retain
    the right to delete initiated Datasets that have remained in draft state in the Illinois Data Bank in excess of 12
    months. A good faith effort to contact the Depositor via the email address on record in the Illinois Data Bank
    will be made prior to deletion.
  %h3 Acknowledgements
  %ul
    %li
      %p
        Carnegie Mellon University Research Showcase. Research Showcase @ CMU Policies, Revision and Withdrawal
        Policy.
        %a{:href => "https://web.archive.org/web/20160503190008/http://repository.cmu.edu/policies.html"} http://repository.cmu.edu/policies.html
    %li
      %p
        Illinois Digital Environment for Access to Learning and Scholarship (IDEALS). IDEALS Withdrawal Policy.
        %a{:href => "http://hdl.handle.net/2142/3744"} http://hdl.handle.net/2142/3744
  %hr/
  %p
    %a{:href => "/contact"} Contact Research Data Service staff
    with questions or to request an addition or
    revision to this policy.
  %table.table.table-bordered
    %caption.policy-document-history
      %h3
        Document History and Version Control Table for Preservation Review Policy
    %thead
      %tr
        %th Version
        %th Action
        %th Approved By
        %th Action Date
    %tbody
      %tr
        %td 1.0
        %td Policy issued.
        %td Heidi Imker, Director, Research Data Service
        %td 2016-05-03
      %tr
        %td 1.1
        %td
          Policy reviewed. Minor changes made:
          %br/
          \-Minor wording adjustments.
          %br/
          \-Versioning table added.
        %td Heidi Imker, Director, Research Data Service
        %td 2016-10-05
      %tr
        %td 1.2
        %td
          Policy reviewed. Minor changes made:
          %br/
          \-Minor clarifications.
        %td Heidi Imker, Director, Research Data Service
        %td 2017-03-02
      %tr
        %td 1.2
        %td
          Policy reviewed.
        %td
          Heidi Imker, Director, Research Data Service
        %td 2019-06-20
      %tr
        %td 1.3
        %td
          Policy reviewed. Minor change made:
          %br/
          \-Revised language for clarity on Revisions.
        %td
          Heidi Imker, Director, Research Data Service
        %td 2021-09-13
  %p
    View past and current versions of this document in IDEALS:
    = succeed "." do
      %a{:href => "http://hdl.handle.net/2142/91039"} http://hdl.handle.net/2142/91039
