#withdrawal_guidelines.bs-callout.bs-callout-info.idb-help
  %br/
  %hr/
  %h2 Illinois Data Bank Withdrawal Guidelines
  %hr/
  %p
    If a Creator of a Dataset finds that a file in their published Dataset contains an error, they must contact the
    Research Data Service staff. A new version of the entire Dataset will be created and a new DOI will be assigned.
    Research Data Service staff will see that the Descriptive Metadata associated with the Dataset makes apparent
    which version is correct and what changes occurred.
  %p
    If the above or any other scenario arises where the appropriateness of a Dataset is in question, Research Data
    Service staff will refer to the following principles when determining whether to remove the erroneous Dataset from
    public view:
  %ul
    %li
      %p
        Persistent access to Datasets is important for completeness and continuity of the scholarly record.
        Therefore, whenever possible, we prefer to maintain access to published Datasets, which include the Descriptive
        Metadata and Data Files, and make existence of any new versions prominently displayed on Dataset pages.
    %li
      %p
        However, in cases where the Descriptive Metadata and/or Data Files in question may pose a risk to the
        accuracy of future scholarship and/or are candidates for Withdrawal based on the
        %a{:href => "#preservation_review"}
          Illinois Data Bank Preservation Review, Retention, Deaccession, Revision, and
          Withdrawal Procedure,
        we will consider removing access and/or deleting the Descriptive Metadata and/or Data Files in question
        from our systems. Deletion of Descriptive Metadata and/or Data Files prior to the end of the Illinois
        Data Bank’s commitment period, currently five years, will occur only in the most severe of circumstances,
        such as a situation where any level of retention of the Dataset could be a threat to national security.
        Such circumstances will likely require the involvement of a variety of administrative authorities at the
        Library and campus levels.
  %hr/
  %p
    %a{:href => "/contact"} Contact Research Data Service staff
    with questions or to request an addition or
    revision to this policy.
  %table.table.table-bordered
    %caption.policy-document-history
      %h3
        Document History and Version Control Table for Withdrawal Guidelines
    %thead
      %tr
        %th Version
        %th Action
        %th Approved By
        %th Action Date
    %tbody
      %tr
        %td 1.0
        %td Guidelines issued.
        %td Heidi Imker, Director, Research Data Service
        %td 2016-05-03
      %tr
        %td 1.1
        %td
          Guidelines reviewed. Minor change made:
          %br/
          \-Versioning table added.
        %td Heidi Imker, Director, Research Data Service
        %td 2016-10-05
      %tr
        %td 1.2
        %td
          Guidelines reviewed. Minor change made:
          %br/
          \-Fixed Typo.
          %br/
          \-Minor clarification.
        %td Heidi Imker, Director, Research Data Service
        %td 2017-03-02
      %tr
        %td 1.2
        %td
          Policy reviewed.
        %td
          Heidi Imker, Director, Research Data Service
        %td 2019-06-20
      %tr
        %td 1.2
        %td
          Policy reviewed.
        %td
          Heidi Imker, Director, Research Data Service
        %td 2021-09-13
  %p
    View past and current versions of this document in IDEALS:
    = succeed "." do
      %a{:href => "http://hdl.handle.net/2142/91039"} http://hdl.handle.net/2142/91039
